<ion-view hide-nav-bar="true" ng-controller="CalculatorOutputCtrl" cache-view="false">
  <ion-content class="calcOutput">
    <div class="row">
      <div class="col temp">
        {{weight}}
      </div>
    </div>
    <div class="row">
      <div class="col bagno">
        <span>Estimated Weight</span>
      </div>
    </div>
    <div class="row">
      <div class="col bagno" style="margin-top: 0px;border:0px;font-size: 20px">
        <span>(in Pounds)</span>
      </div>
    </div>
    <div class="btnCalculate">
      <button class="button button-block dev-button-long dev-button-preset padding" ng-click="calcAgain()">
        Calculate Again!
      </button>
    </div>
    <button class="button button-block dev-button-long dev-button-preset padding" ng-click="save()">
      Save Settings
    </button>
  </ion-content>
</ion-view>
