<ion-view view-title="My Favorites" cache-view="false">
  <ion-nav-buttons side="right">
    <button m22-ripple m22-ripple-color="#ddeeff" ion-button icon-only style="background: transparent;border:none;padding-top: 2px" ng-click="data.showDelete = !data.showDelete">
      <i style="font-size:25px;color:#fff" class="ion-trash-a icon-accessory"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="search()">
      <input type="text" placeholder="Search" ng-model="searchText" class="search" style="box-shadow: none;">
    </form>
    <ion-item-group class="game" ng-repeat="species in craneFavorites">
      <ion-item-divider style="padding:12px;
                  line-height: 33px;
                  font-weight: bold;
                  font-size:22px;
                  font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif; color=light;height:75px">{{species.name}}
      </ion-item-divider>
      <ion-list show-delete="data.showDelete">
        <ion-item class="item-remove-animate" style="font-family:&quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;" ng-repeat="value in species.values| filter:searchText" ng-click="setFavSpecies(species,value)">
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(value.description,species.name)">
          </ion-delete-button>
          <div class="row">
            <div class="col col33">
              <div class="content" style="background: none">
                <h3><a>{{value.description}}</a></h3>
              </div>
            </div>
            <div class="col col33">
              <div class="date">
                <p class="month">{{value.month|asMonthName2}}</p>
                <p class="number">{{value.date}}</p>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-item-group>
  </ion-content>
</ion-view>
