<div class="modal transparent center modSetSearch" style="padding: 15px">
  <div class="card padbot0 padtop0">
    <div class="pad10 padtop0 padbot10 disc_header">
      <div class="row" style="padding:0">
        <div class="col choice" style="font-size: 33px;text-align: center;"><i class="ion-alert-circled" style="padding: 7px"></i>DISCLAIMER</div>
      </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom: 20px">
      <p style="line-height: 28px;word-wrap: inherit;font-size: initial;font-family: 'Montserrat Light'">
        This application provides estimates of log weights only. Additionally, moisture content and bark thickness may alter the estimate.
        <br/> Due to the many variables involved in estimating log weights, estimated weights should be considered an approximation only. If the log weight is critical to the safety of persons or property and the estimated weight is at or near an equipment’s limitation, adjust the work plan, removal method, and/or equipment. Failure to do so could result in property damage, serious injury, or death.
      </p>
    </div>
    <div class="row">
      <div class="col choice no helvetica lightblackCol" style="font-size:18px;font-family: &quot;Montserrat Regular&quot;;" ng-click="disclaimer_Accept()" role="button" tabindex="0">I Understand</div>
    </div>
  </div>
</div>
