<ion-view view-title="Calculator" cache-view="false">
  <ion-nav-buttons side="right">
    <i class="" ng-class="{'ion-close' : fab , 'ion-funnel' : !fab}" id="fab" ng-click="toggleFab(fab)"></i>
    <ul id="fab-nav" ng-show="fab">
      <li ng-show="fab" ng-click="openFavorites()"><i class="ion-ios-star" style="padding: 5px"></i>Favorites</li>
      <li ng-show="fab" ng-click="openDisclaimerModal()"><i class="ion-ios-information-outline" style="padding: 5px"></i>Disclaimer</li>
    </ul>
  </ion-nav-buttons>
  <div id="backdrop" ng-show="fab" ng-click="fab = !fab"></div>
  <ion-content class="has-header calc-padding card-background-page">
    <button class="button button-block dev-button-long dev-button-preset" ng-click="openspeciesModal()">
      Choose a Species
    </button>
    <div class=" animated fadeIn" ng-if="isCurrentSpecies">
      <!-- session summers start time -->
      <div class="item dev-item-sum-box dev-item-sum-box-time">
        <div class="item  dev-item-sum-time-title">
          {{currentspecies.name}}
        </div>
        <div class="item dev-item-sum-time">
          {{currentspecies.wt}}
        </div>
      </div>
      <!-- session build form header-->
      <div class="row dev-build-form-header">
        <div class="col col-67 ">Input Fields</div>
        <div class="col ">Values</div>
      </div>
      <!-- end session build form header -->
      <!-- session build form starts -->
      <div class="item dev-build-session-box">
        <div class="row">
          <div class="col col-center dev-build-session-box-input-title">Diameter Large<span style="font-size:11px;font-style: italic;">
               (in Inches)
              </span>
          </div>
          <div class="col col-center">
          </div>
          <div class="col col-center">
            <label class="item item-input">
              <input type="number" name="d_large" placeholder="0in" ng-model="formData.calc.d_large">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col col-center dev-build-session-box-input-title">Diameter Middle<span style="font-size:11px;font-style: italic;">
               (in Inches)
              </span>
          </div>
          <div class="col col-center">
          </div>
          <div class="col col-center">
            <label class="item item-input">
              <input type="number" name="d_middle" placeholder="0in" ng-model="formData.calc.d_middle">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col col-center dev-build-session-box-input-title">Diameter Small<span style="font-size:11px;font-style: italic;">
               (in Inches)
              </span>
          </div>
          <div class="col col-center">
          </div>
          <div class="col col-center">
            <label class="item item-input">
              <input type="number" name="d_small" placeholder="0in" ng-model="formData.calc.d_small">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col col-center dev-build-session-box-input-title">Length<span style="font-size:11px;font-style: italic;">
               (in Feet)
              </span></div>
          <div class="col col-center">
          </div>
          <div class="col col-center">
            <label class="item item-input">
              <input type="number" name="length" placeholder="0ft" ng-model="formData.calc.length">
            </label>
          </div>
        </div>
        <div ng-show="isError">
          <div class="item-text-wrap error-box">
            {{form_error_msg}}
          </div>
        </div>
      </div>
      <!-- build form button actions -->
      <div class="button-bar ">
        <button class="button button-block button-gen dev-button-right" ng-click="calculate(formData)">
          Calculate
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
