<ion-view view-title="<div class='unsnow-title'><img src='img/davey-tree3.png' class='img'></div>">
  <ion-header-bar class="bar bar-light bar-subheader">
    <h2 class="title">DASHBOARD</h2>
  </ion-header-bar>
  <ion-content class="content dashboard padding-top has-header">
    <div class="wrapper-categories">
      <div  ripple class="item-dashboard" ng-repeat="category in categories" ng-click="openService(category.id, category.url,category.title)">
        <img src="{{category.img}}" alt="{{category.title}}" class="img-categories">
        <p class="center">{{category.title}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
