<ion-view view-title="{{title}}">
  <ion-header-bar class="bar bar-header speciesheader">
    <h1 class="title">Direct Reports</h1>
  </ion-header-bar>
  <ion-header-bar class="bar-light bar-subheader">
    <label class="item item-input searchinput">
      <i class="icon ion-search placeholder-icon"></i>
      <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
    </label>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-scroll>
        <ion-item style="font-family: Montserrat Regular" ng-repeat="employee in mydirectemployees | filter:{fullName: searchmyval}" type="item-text-wrap" class="item-avatar" data-ng-click=showEmpDetail(employee)>
          <!--<img src="pics/{{employee.pic}}"/>-->
          <ng-letter-avatar charCount="2" fontSize="25px" avatarborder="true" avatarcustombgcolor="green" data={{employee.fullName}} shape="round"></ng-letter-avatar>
          <div class="empname">{{employee.firstName}} {{employee.lastName}}</div>
          <p>{{employee.title}}</p>
          <div class="item-icon-right">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </ion-item>
      </ion-scroll>
    </ion-list>
  </ion-content>
</ion-view>

