<ion-view view-title="Employee Details">
  <div class=scope-backdrop ng-class="{'animated fadeIn':viewQuality>1}" ng-if="fab"></div>
  <ion-floating-menu ng-if="showFab" ng-click="toggleFab()" has-footer="false" button-color="#19DD42">
    <ion-floating-item ng-if="employee.DirectReportsCount > 0" icon="ion-person" text="View Direct Reports" click="viewDirectReports()"></ion-floating-item>
    <ion-floating-item ng-if="showTimeOff" icon="ion-ios-timer-outline" text="View Time Off" click="viewTimeOff()"></ion-floating-item>
  </ion-floating-menu>
  <ion-content has-bouncing="true">
    <div class="list" style="font-family: &quot;Montserrat Regular&quot;">
      <div class="item people-name" on-hold="copy(peopleDetail.name)">
        <p class="people-name-title">{{employee.title || '&nbsp;'}}</p>
        <b style="font-family: &quot;Montserrat Bold&quot;!important">{{employee.lastName}}, {{employee.firstName}}</b>
      </div>
     <!-- <div class="item item-icon-right people-tel" on-hold="copy(peopleDetail.tel)">
        <p class="people-tel-title">Business Phone</p>
        {{employee.BusinessPhone}}
        <a ng-if="employee.BusinessPhone !== 'Not Listed'" class="icon positive ion-ios-telephone-outline" href="tel:{{employee.BusinessPhone.split('x')[0]}}"></a>
      </div>-->
      <div class="item item-icon-right people-tel2" on-hold="copy(peopleDetail.tel)">
        <p class="people-tel-title">Cell Phone</p>
        {{employee.MobilePhone}}
        <a ng-href="tel:{{employee.MobilePhone}}" ng-if="employee.MobilePhone !== 'Not Listed'" class="icon positive ion-ios-telephone-outline" ></a>
      </div>
      <div class="item item-icon-right people-email" on-hold="copy(peopleDetail.email)">
        <p class="people-email-title">E-Mail</p>
        <a ng-href="mailto:{{employee.email}}" class="people-email-adress" ng-if="peopleDetail.email !== '-'">{{employee.email}}</a>
        <span ng-if="peopleDetail.email === '-'">{{employee.email}}</span>
        <a ng-href="mailto:{{employee.email}}" ng-if="employee.email !== '-'" class="icon positive ion-ios-email-outline"></a>
      </div>
      <div ng-repeat="group in groups">
        <div class="item item-icon-right people-manager" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
          <i ng-if="employee.Manager" class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          <p class="people-manager-title">Manager</p>
          <a class="people-manager-name">{{employee.Manager.fullName}}</a>
        </div>
        <div class="item item-icon-right people-email" ng-show="isGroupShown(group)">
          <p class="people-email-title">E-Mail</p>
          <a ng-href="mailto:{{employee.Manager.Email}}" class="people-email-adress" ng-if="employee.Manager.Email !== '-'">&nbsp;&nbsp;&nbsp;{{employee.Manager.Email}}</a>
          <span ng-if="employee.Manager.Email === '-'">{{employee.Manager.Email}}</span>
          <a ng-href="mailto:{{employee.Manager.Email}}" ng-if="employee.Manager.Email" class="icon positive ion-ios-email-outline"></a>
        </div>
      <!--  <div class="item item-icon-right people-email" ng-show="isGroupShown(group)">
          <p class="people-email-title">Business Phone</p>
          <a ng-href="tel:{{employee.Manager.BusinessPhone}}" class="people-email-adress" ng-if="employee.Manager.BusinessPhone !== '-'">&nbsp;&nbsp;&nbsp;{{employee.Manager.BusinessPhone}}</a>
          <span ng-if="employee.Manager.BusinessPhone === '-'">{{employee.Manager.BusinessPhone}}</span>
          <a ng-href="tel:{{employee.Manager.BusinessPhone}}" ng-if="employee.Manager.BusinessPhone" class="icon positive ion-ios-telephone-outline"></a>
        </div> -->
        <div class="item item-icon-right people-email" ng-show="isGroupShown(group)">
          <p class="people-email-title">Cell Phone</p>
          <a ng-href="tel:{{employee.Manager.MobilePhone}}" class="people-email-adress" ng-if="employee.Manager.MobilePhone !== '-'">&nbsp;&nbsp;&nbsp;{{employee.Manager.MobilePhone}}</a>
          <span ng-if="employee.Manager.MobilePhone === '-'">{{employee.Manager.MobilePhone}}</span>
          <a ng-href="tel:{{employee.Manager.MobilePhone}}" ng-if="employee.Manager.MobilePhone != 'Not Listed'" class="icon positive ion-ios-telephone-outline"></a>
        </div>
      </div>
      <div class="item people-room" on-hold="copy(peopleDetail.room)">
        <p class="people-room-title">Department</p>
        <p class="people-room-nr">{{employee.department}}</p>
      </div>
      <div class="item people-room" on-hold="copy(peopleDetail.room)">
        <p class="people-room-title">Office</p>
        <p class="people-room-nr">{{employee.office}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
