<ion-view view-title="Employee Lookup">
    <ion-content class="overflow-scroll" has-header="true" scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">    
   <ion-slide-page ion-slide-tab-label="My Profile">
         <div class=scope-backdrop ng-class="{'animated fadeIn':viewQuality>1}" ng-if="fab"></div>       
       
        <div class="list">
           <div class="item people-name" on-hold="copy(peopleDetail.name)"
            style="text-align: center;box-sizing: border-box;">
            <b style="font-family: &quot;Montserrat Bold&quot;;font-size: 30px">{{mylastName}}, {{myfirstName}}</b>
            <p class="people-name-title" style="margin-top: 15px">{{mytitle || '&nbsp;'}}</p>
            
          </div>
           <div ng-repeat="group in groups" style="font-family: &quot;Montserrat Regular&quot;;">
             <div ripple class="landing-page-bottom-list small-card" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
              <div class="landing-page-bottom-list-image">
                <img src="img/manager.png" />
              </div>
              <div class="landing-page-bottom-list-content">
                <h3>View Manager Details</h3>
              </div>
              <div class="landing-page-bottom-list-bullet">
               <i ng-if="myManagerName" class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
              </div>
            </div> 

            <div class="item item-icon-right people-email" ng-show="isGroupShown(group)">
              <p class="people-email-title">E-Mail</p>
              <a ng-href="mailto:{{myManagerEmail}}" class="people-email-adress" ng-if="myManagerEmail !== '-'">&nbsp;&nbsp;&nbsp;{{myManagerEmail}}</a>
              <span ng-if="myManagerEmail === '-'">{{myManagerEmail}}</span>
              <a ng-href="mailto:{{myManagerEmail}}" ng-if="myManagerEmail" class="icon positive ion-ios-email-outline"></a>
            </div>
         <!--   <div class="item item-icon-right people-email" ng-show="isGroupShown(group)">
              <p class="people-email-title">Business Phone</p>
              <a ng-href="tel:{{myManagerBusinessPhone}}" class="people-email-adress" ng-if="myManagerBusinessPhone !== '-'">&nbsp;&nbsp;&nbsp;{{myManagerBusinessPhone}}</a>
              <span ng-if="myManagerBusinessPhone === '-'">{{myManagerBusinessPhone}}</span>
              <a ng-href="tel:{{myManagerBusinessPhone}}" ng-if="myManagerBusinessPhone" class="icon positive ion-ios-telephone-outline"></a>
            </div> -->
            <div class="item item-icon-right people-email" ng-show="isGroupShown(group)">
              <p class="people-email-title">Cell Phone</p>
              <a ng-href="tel:{{myManagerMobilePhone}}" class="people-email-adress" ng-if="myManagerMobilePhone !== '-'">&nbsp;&nbsp;&nbsp;{{myManagerMobilePhone}}</a>
              <span ng-if="myManagerMobilePhone === '-'">{{myManagerMobilePhone}}</span>
              <a ng-href="tel:{{myManagerMobilePhone}}" ng-if="myManagerMobilePhone != 'Not Listed'" " class="icon positive ion-ios-telephone-outline"></a>
            </div>
          </div>     

           <div ripple class="landing-page-bottom-list small-card" ng-click="viewMyTimeOff()">
          <div class="landing-page-bottom-list-image">
            <img src="img/timeoff.png" />
          </div>
          <div class="landing-page-bottom-list-content">
            <h3>View Time Off</h3>
          </div>
          <div class="landing-page-bottom-list-bullet">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>  
        </div>

      </ion-slide-page>

   
      <ion-slide-page ion-slide-tab-label="My Team">
      
        <form>
          <input type="text" placeholder="By Name" ng-model="searchmyval" class="search">
        </form>
         <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%">         
            <ion-item style="font-family: Montserrat Regular" ng-repeat="employee in myteamemployees | filter:{fullName:searchmyval}" type="item-text-wrap" class="item-avatar" data-ng-click="showEmpDetail(employee)">
             
              <ng-letter-avatar charCount="2" fontSize="25px" avatarborder="true" avatarcustombgcolor="green" data={{employee.fullName}} shape="round"></ng-letter-avatar>
              <div class="empname">{{employee.firstName}} {{employee.lastName}}</div>
              <p>{{employee.title}}</p>
              <div class="item-icon-right">
                <i class="icon ion-chevron-right icon-accessory"></i>
              </div>
            </ion-item>
        </ion-scroll>
     
      </ion-slide-page>


      <ion-slide-page disable-scroll="false" ion-slide-tab-label="Global">
          <form ng-submit="search()">
            <input type="text" placeholder="By Employeeid or Email or Name" ng-model="searchval" class="search">
            <a class="clearBtn" ng-click="clearSearch()">
                             <i class="fa fa-times"></i>
                            </a>
            </input>
            <div style="text-align: center" ng-if="searchval.length > 0">
              <input type="button" value="Search" class="searchbutton" ng-click="search()">
            </div>
          </form>
       <ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%">

          <ion-item ng-repeat="employee in globalemployees" type="item-text-wrap" class="item-avatar" data-ng-click="showEmpDetail(employee)">
            <ng-letter-avatar charCount="2" fontSize="25px" avatarborder="true" avatarcustombgcolor="green" data={{employee.fullName}} shape="round"></ng-letter-avatar>
            <div class="empname">{{employee.firstName}} {{employee.lastName}}</div>
            <p>{{employee.title}}</p>
            <div class="item-icon-right">
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
          </ion-item>
        </ion-scroll>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
