<div class="modal image-modal transparent" on-swipe-down="closeModal()">
  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
    <ion-slide ng-repeat="photo in pictures|asArray">
 
      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%; background-color: #fff"
      delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
 	  
 	  <div class="button button-clear" ng-click="closeModal()"><span class="icon icon-right ion-close" style="color:#000"></span></div>
      <div class="insects_image" style="background-image: url('{{photo.Link}}')"></div>
      
    </ion-scroll>
  </ion-slide>
</ion-slide-box>
</div>