<ion-view>

   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

    <ion-nav-view name="a-placeholder"></ion-nav-view>

</ion-view>