<ion-view>
  <ion-content class="welcomeland">
    <div class="hero hero-landing flat">
      <div class="landing_content">
        <div class="app-icon">
          <img src="img/ic_davey_tree_logo.png" style="width:180px;" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-80 col-offset-10">
        <button ng-click="goto(1)" class="button button-block button-qpositive">Log in
        </button>
    <!--    <button ng-click="goto(2)" class="button button-block button-qoutline button-qpositive">
          Demo
        </button>-->
      </div>
    </div>
  </ion-content>
</ion-view>
