
<ion-side-menus enable-menu-with-back-views="false">
  <!--<ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
-->
<ion-pane ion-side-menu-content>
  <ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
 </ion-pane>

<ion-side-menu width="250">
        <ion-content scroll="true" class="side-menu-left">
            <ion-list>
                <ion-item class="item-borderless side-nav-top">
                    <div>

                        <!-- PROFILE INFO -->
                        <div class="row">
                            <div class="col">
                                <img class="side-menu-avatar profile-avatar" ng-src="{{profilePictureUrl}}">
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col text-white">
                             <!--   <h3 class=" text-center"><strong style="color:#fff;font-size: large;font-weight: 900;" >{{username}}</strong></h3> -->
                                <p style="color:#fff;font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;" class="text-center">{{useremail}}</p>
                            </div>
                        </div>
                        <!-- <p class="text-white">{{sideMenu.teamName}}</p> -->


                    </div>
                </ion-item>

            <!-- SIDE NAV -->    
            </ion-list>
            <ion-list class="side-nav">
                <ion-item class="item-icon-left item-borderless side-nav-li" ui-sref="app.dashboard" ui-sref-active="active" menu-close="" style="
    font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, SANS-SERIF;" >
                    <i class="icon ion-ios-home-outline"></i>Home
                </ion-item>
                <ion-item class="item-icon-left item-borderless side-nav-li" ui-sref="app.support" ui-sref-active="active" menu-close="" style="
    font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, SANS-SERIF;" >
                    <i class="icon ion-ios-chatbubble-outline"></i>Support
                </ion-item>
            <!--
                 <ion-item class="item-icon-left item-borderless side-nav-li" ui-sref="app.notifications" ui-sref-active="active" menu-close="" style="
    font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, SANS-SERIF;" >
                    <i class="icon ion-android-notifications"></i>Notifications
                </ion-item>
            -->
              <!--  <ion-item class="item-icon-left item-borderless side-nav-li" ui-sref="app.aboutUs" ui-sref-active="active" menu-close="">
                    <i class="icon ion-ios-plus-outline"></i>About Us
                </ion-item> -->
                <!--
                <ion-item class="item-icon-left item-borderless side-nav-li" ui-sref="app.sideMenu.teamMenu" ui-sref-active="active" menu-close="">
                    <i class="icon ion-ios-people-outline"></i>Teams
                </ion-item>
                <ion-item class="item-icon-left item-borderless side-nav-li" ui-sref="app.sideMenu.settings" ui-sref-active="active" menu-close="">
                    <i class="icon ion-ios-gear-outline"></i>Settings</ion-item>
                    -->
            </ion-list>
        <!--    <div class="row fixed-bottom background-white" ui-sref="app.sideMenu.switchTeam" ui-sref-active="active" menu-close=""> 
                <div class="col text-center">
                <p class="no-margin text-light-purple">Current Version</p>
                <h3 style="margin-top: 0px" class="no-margin text-purple">{{appVersion}}</h3>
                </div>
            </div> -->
        </ion-content>
    </ion-side-menu>
</ion-side-menus>