<ion-view view-title="Plants">
         <ion-header-bar class="bar-light bar-subheader">
         <label class="item item-input searchinput" style="border:none" >
          <i class="icon ion-search placeholder-icon"></i>
          <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
        </label>
        </ion-header-bar>
        <ion-content>
            <ion-item style="font-family:&quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;" ng-repeat="plant in plants|filter:searchText" ng-click="setPlant(plant)">{{plant.Name}}
             <div class="item-icon-right">
                         <i class="icon ion-chevron-right icon-accessory"></i>
             </div>

             </ion-item>               
        </ion-content>
</ion-view>