<ion-view view-title="Insects" cache-view="false">
         <ion-header-bar class="bar-light bar-subheader">
         <label class="item item-input searchinput" style="border:none" >
          <i class="icon ion-search placeholder-icon"></i>
          <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
        </label>
        </ion-header-bar>
        <ion-content>
           <ion-item-group ng-repeat="insecthd in insects| filter:searchText">
            <ion-item-divider style="padding:12px;
             line-height: 33px;
             font-weight: bold;
             font-size:22px;
             font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif; color="light">{{insecthd.Name}}</ion-item-divider>
             <ion-item style="font-family:&quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;" ng-repeat="insect in insecthd.Insect|asArray|filter:searchText" ng-click="setInsect(insect,insecthd)">{{insect.Name}}
             <div class="item-icon-right">
                         <i class="icon ion-chevron-right icon-accessory"></i>
             </div>

             </ion-item>
           </ion-item-group>          
        </ion-content>
</ion-view>