<ion-view view-title="Details" class="recipe-view">
   <ion-content style="background-color: white">
      <div>
         <div class="recipe-content">
            <div class="recipe-title">{{selectedPlant.Name}}</div>
            <div class="recipe-social">
               <div class="recipe-owner">
                  <img ng-src="img/iconsTree.png" class="owner-image"/>
                  <div class="owner-name">Plants</div>
               </div>
               <div class="recipe-links">
                  <div class="heart-block">
                  <i ng-show="heartFilled" ng-click="toggleLike()" class="recipe-link-heart ion-ios-heart"> </i>
                  <i ng-show="!heartFilled" ng-click="toggleLike()" class="recipe-link-heart ion-ios-heart-outline"> </i>
                  </div>
               </div>
            </div>
            
            <div class="item item-divider">Periods</div>
            <div class="row white-background property-profile-shadow padding-10 margin-5-0" ng-if="selectedPlant.EarlyBloomPeriod">
  <div class="col">
    <div class="details-heading">Early Bloom Period</div>
    <div class="row padding-0">
      <div class="col padding-10-0">
        <div class="detail-image">
            <div class="date-viewer">
               <div class="date-view">
                  <span class="month">{{selectedPlant.EarlyBloomPeriod.StartDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedPlant.EarlyBloomPeriod.StartDate.Day}}</div>
               </div>
               <div class="splitter dark">
                  -
                </div>
               <div class="date-view">
                  <span class="month">{{selectedPlant.EarlyBloomPeriod.EndDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedPlant.EarlyBloomPeriod.EndDate.Day}}</div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="row white-background property-profile-shadow padding-10 margin-5-0" ng-if="selectedPlant.FullBloomPeriod">
  <div class="col">
    <div class="details-heading">Full Bloom Period</div>
    <div class="row padding-0">
      <div class="col padding-10-0">
         <div class="detail-image">
            <div class="date-viewer">
               <div class="date-view">
                  <span class="month">{{selectedPlant.FullBloomPeriod.StartDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedPlant.FullBloomPeriod.StartDate.Day}}</div>
               </div>
               <div class="splitter dark">
                  -
                </div>
               <div class="date-view">
                    <span class="month">{{selectedPlant.FullBloomPeriod.EndDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedPlant.FullBloomPeriod.EndDate.Day}}</div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>

      </div>

    </div>

   </ion-content>
</ion-view>