<ion-view view-title="Nature Clock">
 <ion-nav-buttons side="right">
<i class="" ng-class="{'ion-close' : fab , 'ion-funnel' : !fab}" id="fab" ng-click="toggleFab(fab)"></i>
<ul id="fab-nav" ng-show="fab">
    <li ng-show="fab" ng-click="openFavorites()"><i class="ion-ios-star"></i>Favorites</li>
    <li ng-show="fab" ng-click="openCalendar()"><i class="ion-android-calendar"></i>Calendar</li>
</ul>
 <!-- <button m22-ripple m22-ripple-color="#ddeeff" ion-button icon-only style="background: transparent;border:none;padding-top: 2px" ng-click="openFavorites()">
   <i style="font-size:25px;color:#fff" class="ion-star icon-accessory"></i>
</button> -->
  <!--<div class="item-icon-right" angular-ripple>
     <i style="font-size:25px;color:#fff" class="icon ion-bookmark icon-accessory"></i>
  </div> -->
</ion-nav-buttons>
  <div id="backdrop" ng-show="fab" ng-click="fab = !fab"></div>
  <ion-content class="has-header calc-padding card-background-page">
    <button class="button button-block dev-button-long dev-button-preset" ng-click="openLocationsModal()">
Set Your Location
</button>

<div class=" animated fadeIn">
<!-- session summers start time -->
<div class="item dev-item-sum-box dev-item-sum-box-time" ng-show="isCurrentLocation" >
    <div class="item  dev-item-sum-time-title">
   Your Location is Set To
    </div>
  <div class="item dev-item-sum-time">
  {{currentLocation}}( {{currentLocationCode}})
  </div>
</div>

<!-- session build form header-->
<div class="row dev-build-form-header" ng-show="isCurrentLocation">
<div class = "col ">Make Your Selection</div>
</div>
<!-- end session build form header -->
</div>
<div class="middle" ng-show="isCurrentLocation">
<ion-grid>
  <ion-row>  		
    <ion-col class="col-50">
       <label>
 			 <input m22-ripple m22-ripple-color="#ddeeff" type="radio" name="radio" value="Insects" ng-model="currentfilter" ng-change='newValue(currentfilter)'/>
  				<div class="front-end box" style="width:50%;float:left">
    				<span>Insects</span>
  				</div>
	   </label>
    </ion-col>
    <ion-col class="col-50">
        <label>
          <input type="radio" name="radio" value="Phenology" ng-model="currentfilter" ng-change='newValue(currentfilter)'/>
           <div m22-ripple m22-ripple-color="#ddeeff" class="back-end box" style="width:50%">
            <span>Phenology</span>
           </div>
        </label>
    </ion-col>
  </ion-row>
 </ion-grid>
 </div>

 <button  class="button button-block dev-button-long dev-button-preset" style="border-radius: 20px" ng-click="displayResults()" ng-show="isCurrentLocation">
   Search For {{currentfilter}}
   <div class="item-icon-right">
                         <i class="icon ion-chevron-right icon-accessory" style="color:"#fff"></i>
   </div>

</button>

</ion-content>
</ion-view>