<ion-view view-title="My Favorites" cache-view="false">
<ion-nav-buttons side="right">
  <button m22-ripple m22-ripple-color="#ddeeff" ion-button icon-only style="background: transparent;border:none;padding-top: 2px" ng-click="deleteAllFavorites()">
   <i style="font-size:25px;color:#fff" class="ion-trash-a icon-accessory"></i>
</button>
  <!--<div class="item-icon-right" angular-ripple>
     <i style="font-size:25px;color:#fff" class="icon ion-bookmark icon-accessory"></i>
  </div> -->
</ion-nav-buttons>
   <ion-content>
      <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">
         <ion-slide-page ion-slide-tab-label="Insects">
            <form ng-submit="search()">
               <input type="text" placeholder="Search" ng-model="searchText" class="search" style="box-shadow: none;">
            </form>
            <ion-item-group ng-repeat="location in insectLocations">
               <ion-item-divider style="padding:12px;
                  line-height: 33px;
                  font-weight: bold;
                  font-size:22px;
                  font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif; color="light">{{location}}
               </ion-item-divider>
               <ion-item style="font-family:&quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;" 
                  ng-repeat="insect in nature_insectfavorites| isSpeciesListed:location | filter:searchText" ng-click="setFavInsect(insect)">
                  {{insect.name}}
                  <div class="item-icon-right">
                     <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
               </ion-item>
            </ion-item-group>
         </ion-slide-page>
         <ion-slide-page ion-slide-tab-label="Plants">
            <form ng-submit="search()">
               <input type="text" placeholder="Search" ng-model="searchmyval" class="search" style="box-shadow: none;">
            </form>
            <ion-item-group ng-repeat="location in plantLocations">
               <ion-item-divider style="padding:12px;
                  line-height: 33px;
                  font-weight: bold;
                  font-size:22px;
                  font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif; color="light">{{location}}</ion-item-divider>
               <ion-item style="font-family:&quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;"
                  ng-repeat="plant in nature_plantfavorites|isSpeciesListed:location|filter:searchText" ng-click="setFavPlant(plant)">
                  {{plant.name}}
                  <div class="item-icon-right">
                     <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
               </ion-item>
            </ion-item-group>
         </ion-slide-page>
      </ion-slides>
   </ion-content>
</ion-view>