<!DOCTYPE HTML>
<ion-view view-title="Details" class="recipe-view">
   <ion-content style="background-color: white">
      <div>
         <div class="recipe-content">
            <div class="recipe-title">{{selectedInsect.Name}}</div>
            <div class="recipe-social">
               <div class="recipe-owner">
                  <img ng-src="img/iconBug.png" class="owner-image"/>
                  <div class="owner-name">{{selectedInsectCat}}</div>
               </div>
               <div class="recipe-links">
                  <div class="heart-block">
                  <i ng-show="heartFilled" ng-click="toggleLike()" class="recipe-link-heart ion-ios-heart"> </i>
                  <i ng-show="!heartFilled" ng-click="toggleLike()" class="recipe-link-heart ion-ios-heart-outline"> </i>
                  </div>
               </div>
            </div>
            <div class="recipe-highlight-info">
               <div class="info-item servings">
                  <div class="info-title"> <span>{{currentYear}}</span></div>
                  <div style="margin-top:-3px;" class="info-subtitle">Year</div>
               </div>
               <div class="info-item servings">
                  <div class="info-title"> <span>{{(affectedPlants | asAffectedArray).length}}</span></div>
                  <div style="margin-top:-3px;" class="info-subtitle">Affected Plants</div>
               </div>
               <div class="info-item cost">
                  <div class="info-title"> <span>{{(pictures | asArray).length}}</span></div>
                  <div style="margin-top:-3px;" class="info-subtitle">Pictures</div>
               </div>
            </div>


            <!--Pictures-->
             <div class="item item-divider" ng-click="sectionPictures = !sectionPictures"><span>Pictures</span>
              <img ng-if="!sectionPictures" src="img/small-plus2.png" style="width:22px;float: right;margin-top:-6px">
              <img ng-if="sectionPictures" src="img/small-minus.png" style="width:22px;float: right;">
              </div>
               <div ng-show="sectionPictures">
                 <a class="item item-list-detail">
                   <ion-scroll direction="x" style="background-color:#fff">
                      <img ng-repeat="photo in pictures|asArray" ng-src="{{photo.Link}}" ng-click="showImages($index)" class="image-list-thumb"/>
                   </ion-scroll>
                  </a>
              </div>
            <!--Pictures-->
            


            <div class="item item-divider" ng-click="sectionPeriods = !sectionPeriods">Periods
             <img ng-if="!sectionPeriods" src="img/small-plus2.png" style="width:22px;float: right;margin-top:-6px">
             <img ng-if="sectionPeriods" src="img/small-minus.png" style="width:22px;float: right;">
            </div>


            <div ng-show="sectionPeriods">
            <div class="row white-background property-profile-shadow padding-10 margin-5-0" ng-click="sectionMonitoring = !sectionMonitoring" ng-if="selectedInsect.MonitoringPeriod">
  <div class="col">
    <div class="details-heading">Monitoring Period</div>
    <img ng-if="!sectionMonitoring" src="img/small-left.svg" style="width:8px;float: right;margin-top: -23px;">
    <img ng-if="sectionMonitoring" src="img/share-dropdown.svg" style="width:12px;float: right;margin-top: -23px;">
    <div class="row padding-0" ng-show = "sectionMonitoring" >
      <div class="col padding-10-0">
        <div class="detail-image">
            <div class="date-viewer">
               <div class="date-view">
                  <span class="month">{{selectedInsect.MonitoringPeriod.StartDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.MonitoringPeriod.StartDate.Day}}</div>
               </div>
               <div class="splitter dark">
                  -
                </div>
               <div class="date-view">
                  <span class="month">{{selectedInsect.MonitoringPeriod.EndDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.MonitoringPeriod.EndDate.Day}}</div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="row white-background property-profile-shadow padding-10 margin-5-0" ng-click="sectionTreatment = !sectionTreatment">
  <div class="col">
    <div class="details-heading">Treatment Period</div>
    <img ng-if="!sectionTreatment" src="img/small-left.svg" style="width:8px;float: right;margin-top: -19px;">
    <img ng-if="sectionTreatment" src="img/share-dropdown.svg" style="width:12px;float: right;margin-top: -23px;">
    <div class="row padding-0" ng-show = "sectionTreatment" >
      <div class="col padding-10-0">
         <div class="detail-image">
            <div class="date-viewer">
               <div class="date-view">
                  <span class="month">{{selectedInsect.TreatmentPeriod.StartDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.TreatmentPeriod.StartDate.Day}}</div>
               </div>
               <div class="splitter dark">
                  -
                </div>
               <div class="date-view">
                    <span class="month">{{selectedInsect.TreatmentPeriod.EndDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.TreatmentPeriod.EndDate.Day}}</div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="row white-background property-profile-shadow padding-10 margin-5-0" ng-click="sectionProactive = !sectionProactive">
  <div class="col">
    <div class="details-heading">Proactive Treatment Period</div>
    <img ng-if="!sectionProactive" src="img/small-left.svg" style="width:8px;float: right;margin-top: -19px;">
    <img ng-if="sectionProactive" src="img/share-dropdown.svg" style="width:12px;float: right;margin-top: -23px;">
    <div class="row padding-0" ng-show = "sectionProactive" >
      <div class="col padding-10-0">
        <div class="detail-image">
            <div class="date-viewer">
               <div class="date-view">
                  <span class="month">{{selectedInsect.ProactiveTreatmentPeriod.StartDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.ProactiveTreatmentPeriod.StartDate.Day}}</div>
               </div>
               <div class="splitter dark">
                  -
                </div>
               <div class="date-view">
                    <span class="month">{{selectedInsect.ProactiveTreatmentPeriod.EndDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.ProactiveTreatmentPeriod.EndDate.Day}}</div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="row white-background property-profile-shadow padding-10 margin-5-0" ng-click="sectionExtended = !sectionExtended">
  <div class="col">
    <div class="details-heading">Extended Treatment Period</div>
    <img ng-if="!sectionExtended" src="img/small-left.svg" style="width:8px;float: right;margin-top: -19px;">
    <img ng-if="sectionExtended" src="img/share-dropdown.svg" style="width:12px;float: right;margin-top: -23px;">
    <div class="row padding-0" ng-show = "sectionExtended" >
      <div class="col padding-10-0">
        <div class="detail-image">
            <div class="date-viewer">
               <div class="date-view">
                  <span class="month">{{selectedInsect.ExtentedTreatmentPeriod.StartDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.ExtentedTreatmentPeriod.StartDate.Day}}</div>
               </div>
               <div class="splitter dark">
                  -
                </div>
               <div class="date-view">
                    <span class="month">{{selectedInsect.ExtentedTreatmentPeriod.EndDate.Month|asMonthName}}</span>
                  <div class="day">{{selectedInsect.ExtentedTreatmentPeriod.EndDate.Day}}</div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
      </div>

            
            


            <div class="item item-divider" ng-click="sectionAffected = !sectionAffected">Affected Plants
            <img ng-if="!sectionAffected" src="img/small-plus2.png" style="width:22px;float: right;margin-top:-6px">
            <img ng-if="sectionAffected" src="img/small-minus.png" style="width:22px;float: right;">
            </div>
             <div ng-show="sectionAffected">
             <div class="item" style="font-family:&quot;Montserrat Light&quot;, &quot;Roboto&quot;, Arial, sans-serif;
             text-align: center;" ng-repeat="affectedPlant in affectedPlants|asAffectedArray">{{affectedPlant}}     
            </div>
            </div>

          
            <div class="item item-divider" ng-click="sectionRecommended = !sectionRecommended">Recommended Treatment
            <img ng-if="!sectionRecommended" src="img/small-plus2.png" style="width:22px;float: right;margin-top:-6px">
            <img ng-if="sectionRecommended" src="img/small-minus.png" style="width:22px;float: right;">
            </div>
             <div ng-show="sectionRecommended">
             <div class="item" style="font-family:&quot;Montserrat Light&quot;, &quot;Roboto&quot;, Arial, sans-serif;white-space: normal" ng-repeat="recommendedTreatment in selectedInsect.RecommendedTreatmentMethod|asArray">{{recommendedTreatment}}     
            </div>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>