<ion-view>
	<ion-nav-title><h2 class="title">Notifications</h2></ion-nav-title>
		<ion-content>
			<ion-list>
				<ion-item class="category-ion-item" data-ng-repeat="item in items | orderBy:'ID'" data-ui-sref="app.notification({itemId: item.id})">
					<div class="row row-wrap category-items">
						<div class="category-item-image col col-33">
							<img data-ng-src="{{item.img}}" alt="{{item.title}}" />
						</div>
						<div class="category-item-tools col col-66">
							<h2><b>{{item.title}}</b></h2>
							<div class="row nots-row">
								<div class="nots-heading col col-80"><i class="icon ion-radio-waves"></i>&nbsp;{{item.source}}</div>
								<!--<div class="col col-60 right-align item-category"><i class="icon ion-clock"></i>&nbsp;{{item.date}}</div>-->
							</div>
						</div>
					</div>
				</ion-item>
			</ion-list>
		</ion-content>
</ion-view>
