<ion-view view-title="">
	<ion-pane>
		<ion-content>
			<ion-item class="ion-item not_item">
				<div class="item-image">
					<img class="not_image" data-ng-src="{{item.img}}">
					<h1 class="not_head">{{item.title}}</h1>
				</div>
				<div class="item-content article-content">
					<div class="row item-tools">
						<div class="col col-50"><i class="icon ion-radio-waves"></i>&nbsp;{{item.source}}</div>
						<div class="col col-50"><i class="icon ion-clock"></i>&nbsp;{{item.date}}</div>
						
					</div>
					<div class="row">
						<div class="col" data-ng-bind-html="item.description|trustHtml"></div>
					</div>
					
				</div>
			</ion-item>
		</ion-content>
	</ion-pane>
</ion-view>