<div class='progress'>
<progress max='{{myMaxStep}}' value='{{myCurrentStep}}'></progress>
<div class='progress-end-cap' ng-if='progressBarPositionOffset &gt; 0' style='margin-left: {{progressBarPositionOffset}}px'></div>
<div class='progress-text' ng-show='showSteps'>
<div class='progress-steps' style='margin-left: {{progressBarPositionOffset}}px'>
{{myCurrentStep}}/{{myMaxStep}}
</div>
</div>
</div>