<ion-modal-view>
        <ion-header-bar class="bar bar-header speciesheader">
          <h1 class="title">Search Locations</h1>
          <button class="button button-positive button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
         <ion-header-bar class="bar-light bar-subheader">
         <label class="item item-input searchinput">
          <i class="icon ion-search placeholder-icon"></i>
          <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
        </label>
        </ion-header-bar>
        <ion-content>
           <ion-item-group ng-repeat="state in states| filter:searchText">
            <ion-item-divider style="padding:12px;
             line-height: 33px;
             font-weight: bold;
             font-size:22px;
             font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif; color="light">{{state.StateAbbreviation}}</ion-item-divider>
             <ion-item style="font-family:&quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;" ng-repeat="city in state.cities| filter:searchText" ng-click="setLocation(city)">{{city.cityName}}
             <div class="item-icon-right">
                         <i class="icon ion-chevron-right icon-accessory"></i>
             </div>

             </ion-item>
           </ion-item-group>          
        </ion-content>
</ion-modal-view>

