<ion-modal-view>
        <ion-header-bar class="bar bar-header speciesheader">
          <h1 class="title">Search Species({{totalCount}})</h1>
          <button class="button button-positive button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
         <ion-header-bar class="bar-light bar-subheader">
         <label class="item item-input searchinput">
          <i class="icon ion-search placeholder-icon"></i>
          <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
        </label>
        </ion-header-bar>
        <ion-content>
           <ion-list style="font-family: &quot;Montserrat Regular&quot;;">
            <ion-item ng-repeat="species in species| filter:searchText" ng-click="setspecies(species)">
             {{species.name}}
        </ion-item>
      </ion-list>
        </ion-content>
</ion-modal-view>