<ion-view view-title="Support">
   
    <ion-content class="has-header" style="background: #e2e2e2;font-family: &quot;Montserrat Regular&quot;">
            <div class="padding"></div>
            <div class="padding"></div>

            <div class="padding text-center">
                <div class="col col-center text-center" style="color: grey;font-family: &quot;Montserrat Light&quot;">
                    <h3 class="m-0 upper">WE'RE HERE TO HELP</h3>
                     We're here to help you get the most from your Davey Mobile App.
                </div>
            </div>
            <div class="padding"></div>

            <div class="padding">
                <a ng-href="" ng-click="openAppStore()" class="button button-block button-positive upper" style="background: darkcyan">GET THE LATEST VERSION</a>
                <a ng-href="tel: {{support.contact}}" class="button button-block button-positive upper" style="background:#128533">CALL SUPPORT</a>

                <a ng-href="mailto: {{support.email}}" class="button button-block secondary-bg upper" style="background: #2aae2a;color: white;">SEND FEEDBACK</a>
                <a ng-href="" ng-click="openChat()" class="button button-block secondary-bg upper" style="background: #2aae2a;color: white;">CHAT WITH US</a>
            </div>

            <div class="text-center" style="font-family: &quot;Montserrat Regular&quot;">
                Learn More about Davey Mobile<br /><a class="grey" href="{{support.website}}" style="font-weight: bold"> <span class="positive">{{support.websitename}}</span></a>
            </div>

            <div class="text-center" style="font-size: 20px;padding-top: 15px;color: #167b65;">
                Version {{version}}
            </div>
    </ion-content>
</ion-view>