
     <ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-color-assertive" tabs-swipeable>
      <ion-tab title="MY PROFILE">
        <h1>MY PROFILE</h1>
      </ion-tab>
       <ion-tab title="MY TEAM">
         <h1>MY TEAM</h1>
      </ion-tab>
       <ion-tab title="GLOBAL">
         <h1>GLOBAL</h1>
      </ion-tab>
     </ion-tabs>
