<ion-view hide-nav-bar="true">
  <ion-floating-button click="goBack()" has-footer="true" button-color="#2AC9AA" icon="ion-android-arrow-back" icon-color="#fff">
</ion-floating-button>
<ion-content class='grey-lighter-bg'>
 
<div class='list list-inset'>
<div class='item headline text-uppercase strong'>
  {{pto_header}}
</div>
<div class="pto_detail" ng-repeat="pto_detail in pto_details| filter:filterFn">
<div class='my-item-divider'></div>
  <div class='row row-center'>
    <div class='col col-50 text-uppercase activity-title' ng-class="leave-color0">
    {{pto_detail.leave_desc}}
    </div>
    <div class='col col-50 text-right grey'>
     {{((pto_detail.entitled - pto_detail.remaining)/pto_detail.entitled)*100 | asOneDecimal}}%
    </div>
  </div>
<div class='row'>
<div class='col'>
<my-progress-bar my-current-step='{{pto_detail.entitled - pto_detail.remaining}}' my-max-step='{{pto_detail.entitled}}' ng-class='&#39;progress-bar-career&#39;'></my-progress-bar>
</div>
</div>
    <div class="card-info">
          <div class="card-info-element">
             <div class="card-info-description">Entitled</div>
             <div class="card-info-value">{{pto_detail.entitled|asOneDecimal}}</div>
          </div>

            <div class="card-info-element">
              <div class="card-info-description">Taken</div>
              <div class="card-info-value">{{(pto_detail.entitled - pto_detail.remaining)|asOneDecimal }}</div>
            </div>

            <div class="card-info-element">
            <div class="card-info-description">Remaining</div>
            <div class="card-info-value">{{pto_detail.remaining|asOneDecimal}}</div>
          </div>

    </div>
<div class='my-item-divider-top-half'></div>
</div>

</div>
</ion-content>
</ion-view>

