<ion-view view-title="Client Details">
  <ion-content class = "app-content app-content__client">
   <div class="client__viewport" ui-view>
     <div class="client__details">
      <div class="client__details__section">
        <div class="details__section__header">
          <h5 class="client__name">{{selectedClient.name1}}
           <span class="checkmark" ng-if="!(selectedClient.custType == 'P' || selectedClient.custType == 'C' && selectedClient.salesperson != employeeid )">
                <div class="checkmark_circle"></div>
                <div class="checkmark_stem"></div>
                <div class="checkmark_kick"></div>
              </span>
            </h5>
          <span class="primary-tag" ng-if = "selectedClient.name2">{{selectedClient.name2}}</span>
  
           <span class="client-category" ng-class="selectedClient.custType + '-bkg'">
                   {{selectedClient.custType | asFullTypeString}}
           </span>
           
        </div>
     </div>

     <div class="client__contact-info">
      <p class="client__address"> {{ selectedClient.houseno }} {{ selectedClient.street }}, {{ selectedClient.city }}, {{ selectedClient.state }} {{ selectedClient.zip }} </p>
      <p class="client__phone-number" ng-if="selectedClient.otherPhone" ng-href="tel:{{ selectedClient.otherPhone }}"> <i class="fa fa-phone"></i> {{ selectedClient.otherPhone | phoneNumberFormatted}} </p>
      <a class="client__website-link" ng-if="selectedClient.emailAddress" ng-click="RestaurantDetails.visitWebsite(Restaurant.websiteUrl)"> {{ selectedClient.websiteUrl | prettifyUrl }} 
      </a> 
     </div>


     <!-- Map Section-->
     <div class="client__map--container">
       <div map-single style="height:200px;"></div>
          <div class="takeme">
           <a ng-click="openNavigator()">
            Get Directions 
           </a>
          </div>
     </div>
       
       <div class="home-component" style="background-color: #fff !important">
       <ion-grid box-sizing="none" class="smallerScreen grid">
       <ion-row tappable class="row" style="align-items: center;" ng-click="goTo('app.client_contract_history')">
        <ion-col class="col w20_flex" style="align-self:center;">
          <div class="client_historyIcon"></div>
        </ion-col>
        <ion-col class="col">
          <h1>Client History</h1>
          <h2>Get Details Of All The Contracts Performed for the Client</h2>
        </ion-col>
        <ion-col class="col w10_flex" style="align-self:center;">
          <i class="fa fa-chevron-right" style="font-size: 20px"></i>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

   <!-- <div class="card card-md">
                    <div class="row">
                        <div class="col col-25">
                            <div class="contract_dtl_fulldate">
                                <div class="contract_dtl_month">May</small>
                                <span class="contract_dtl_date">1</span>
                                <div class="contract_dtl_month">TUE</small>
                            </div>
                        </div>
                        <ion-col class="col" col-9="">
                            <ion-row class="row">
                                <ion-col class="col" col-8="">
                                    <p>Timing</p>
                                    <h3>3:00 PM</h3>
                                </ion-col>
                                <ion-col class="col" col-4="">
                                    <p>For</p>
                                    <h3>My Self</h3>
                                </ion-col>
                            </ion-row>
                            <hr>
                            <ion-row class="row">
                                <ion-col class="col" col-8="">
                                    <p>Appointment Type</p>
                                    <h3>General Clean</h3>
                                </ion-col>
                                
                            </ion-row>
                        </ion-col>
                    </div>
                  </div>-->

  <!--  <section ng-class="{ 'ready' : initialized }" class="bg-white p14 relative tile-item hide-until-ready">
      <div class="header-text"><span ng-if="deal.deal_life_cycle_stage !== 'closed'">Current Properties</span><span>Previous Properties</span></div>
      <div ng-repeat="property in properties" ng-class="{ 'mb20' : $index !== properties.length - 1 }">
        <deal-property property="property" deal="deal"></deal-property>
      </div>
      <section ng-class="{ 'pt12' : properties.length &gt; 0 }">
        <button transition-to="app.currentproperties" state-params="{ &quot;id&quot; : &quot;{{ deal.id }}&quot;, &quot;dealName&quot; : &quot;{{deal.name}}&quot; }" animation="slide" direction="left" class="btn-block btn-ghost"><i class="icon-plus-circle-solid shift-down1"></i><span class="ml6">Add Property</span></button>
      </section> -->



     </div> 
   </div>
  </ion-content>
</ion-view>

 