<!--<ion-tabs class="tabs-icon-top tabs-stable client-main-tab tabs-bottom tabs-standard">
	<ion-tab icon="icon-location" ng-click="clickTab('app.client_address')" title="Address"></ion-tab>
    <ion-tab icon="icon-contact" ng-click="clickTab('app.client_contact')" title="Contact Info"></ion-tab>
    <ion-tab icon="ion-plus-round" ng-click="showAddActivityModal()" ng-class=""></ion-tab>
    <ion-tab icon="icon-bar-chart" ng-click="clickTab('app.chart')" title="Trends"></ion-tab>
</ion-tabs>
-->
<ion-view>
<ion-tabs class="tabs-icon-top tabs-background-light">
   <ion-tab title="Basic Info" icon-off="icon-club home" icon-on="icon-club home-on" ui-sref="tab.basicinfo">
            <ion-nav-view name="tab-basicinfo"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Map" icon-off="icon-club game" icon-on="icon-club game-on" ui-sref="tab.map">
            <ion-nav-view name="tab-map"></ion-nav-view>
        </ion-tab>
        <ion-tab title="History" icon-off="icon-club friends" icon-on="icon-club friends-on" ui-sref="tab.history">
            <ion-nav-view name="tab-history"></ion-nav-view>
        </ion-tab>
      
</ion-tabs>
</ion-view>