<ion-view view-title="Search" hide-nav-bar="true">
  <ion-content class="home-component" delegate-handle="mainScroll">
    <div class="search_container">
      <div class="row justify-content-center">
        <div class="col col-12 col-sm-8 col-lg-6" style="padding: 5px">
          <form style="border:none;padding: 0">
            <div class="card p-3 animated fadeIn" style="border-radius: 14px;width: 100%;margin:0">
              <div class="card_body">
                <div class="d-flex flex-column align-items-center">
            <!--      <div style="text-align: center!important;margin-bottom: 0!important;margin-top: 0; font-size: 1.5rem;">
                    {{officeDesc}}
                    <p class="text-muted center" style="margin-top: .5rem!important;margin-bottom: 0!important;font-size: 1rem;">
                      Sales Office Number : {{officeNo}}
                    </p>
                </div> -->
         
          <div ng-click="openSalesOfficeModal()" class="item people-name" style="box-sizing: border-box;box-shadow: 1px 1px 1px 2px #9E9E9E;width: 100%;padding: 12px;" >
            <b style="font-size: 30px;"> {{officeDesc}} </b>
            <p class="people-name-title ng-binding" style="margin-top: 8px;font-size: medium;">Sales Office: {{officeNo}}</p>
            <p class="item-icon-right"><i class="icon ion-edit icon-accessory" style="right: 8px;font-size: 30px;color: #a0928e;"></i></p>
          </div>
        
               <!--   <div class="horizontal-line"></div> -->
                  <div class="form-row" style="margin-top:8px">
                    <div class="form-group col col-50">
                      <label class="col-form-label"> SAP Customer # </label>
                      <input class="form-control" id="customerno" type="text" ng-model="searchForm.customerno">
                    </div>
                    <div class="form-group col col-50">
                      <label class="col-form-label"> Full Name </label>
                      <input class="form-control" id="fullname" type="text" ng-model="searchForm.fullname" style="padding: 4px">
                    </div>
                    <div class="form-group col col-33">
                      <label class="col-form-label">House # </label>
                      <input class="form-control" id="houseno" type="text" ng-model="searchForm.houseno">
                    </div>
                    <div class="form-group col col-66">
                      <label class="col-form-label">Street </label>
                      <input class="form-control" id="street" type="text" ng-model="searchForm.street">
                    </div>
                    <div class="form-group col col-50">
                      <label class="col-form-label">City </label>
                      <input class="form-control" id="city" type="text" ng-model="searchForm.city" ng-focus="scrollToElement($event)">
                    </div>
                    <div class="form-group col col-50">
                      <label class="col-form-label"> Zip Code </label>
                      <input class="form-control" id="zip" type="text" ng-model="searchForm.zip" ng-focus="scrollToElement($event)">
                    </div>
                    <div class="form-group col col-25">
                      <label class="col-form-label"> State </label>

                      <input class="form-control" id="state" placeholder="&#xF002;" type="text" ng-model="searchForm.selectedState" ng-focus="scrollToElement($event)" ng-readonly="true"
                      style="padding: 4px" ng-click="openStatesModal()" />

                    </div>
                    <div class="form-group col col-75">
                      <label class="col-form-label"> Search Term </label>
                      <input class="form-control" id="searchterm" type="text" ng-model="searchForm.searchterm" ng-focus="scrollToElement($event)">
                    </div>
                    <div class="form-group col col-33">
                      <label class="col-form-label">Phone </label>
                      <input class="form-control" id="phone" type="tel" ng-model="searchForm.phone" ng-focus="scrollToElement($event)">
                    </div>
                    <div class="form-group col col-66">
                      <label class="col-form-label">Email </label>
                      <input class="form-control" id="email" type="text" ng-model="searchForm.email" ng-focus="scrollToElement($event)">
                    </div>
                    <div class="form-group col col-60">
                      <label class="col-form-label">Arborist </label>
                      <div>
                        <div class="input-group">
                          <input class="form-control" id="arborist" type="text" placeholder="&#xF002;" ng-click="openArboristsModal()" ng-model="searchForm.selectedarboristname" ng-focus="scrollToElement($event)" ng-readonly="true" style="padding: 4px">
                        </div>
                      </div>
                    </div>
                     <div class="form-group col col-20">
                      <label class="col-form-label">From</label>
                      <div>
                        <div class="input-group">
                          <input class="form-control" id="fromYear" type="number" ng-model="searchForm.fromYear" ng-focus="scrollToElement($event)" style="padding: 4px">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col col-20">
                      <label class="col-form-label">To</label>
                      <div>
                        <div class="input-group">
                          <input class="form-control" id="toYear" type="number" ng-model="searchForm.toYear" ng-focus="scrollToElement($event)" style="padding: 4px">
                        </div>
                      </div>
                    </div>
                   <div class="form-group col col-50">
                      <ion-toggle  ng-model="enableCustomers.checked">Clients</ion-toggle>
                     </div>
                      <div class="form-group col col-50">
                      <ion-toggle  ng-model="enableProspects.checked">Prospects</ion-toggle>
                     </div>


                  </div>
                </div>
              </div>
              <div class="button-section">
                <button class="btn float-left ripple" style="width:30%; border: 2px solid #0f9339;text-align: center;font-size: 1.3rem;border-radius: 8px;background:#fff;color:#000" ng-click="goBack()"> Back </button>
                <button class="btn float-left ripple" style="width:30%; border: 2px solid #0f9339;text-align: center;font-size: 1.3rem;border-radius: 8px;background:#9dee99;color:#000" ng-click="resetForm()"> Reset </button>
                <button class="btn float-right ripple" style="width:30%; border: 2px solid #0f9339;text-align: center;font-size: 1.3rem;border-radius: 8px;background:#0f9339;color:#fff" ng-click="goToSearchResults(searchForm)"> Search </button>
              </div>
            </div>
          </form>
        </div>
  </ion-content>
</ion-view>
