<ion-view view-title="Search Results({{myClients.length}})" cache-view="false">
    <ion-header-bar class="bar bar-light" style="background-color: #23ab04;">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" style="color: white" ng-click="goBack()"></button>
    </div>
   

  </ion-header-bar>
  <ion-content>
    <form>
      <input type="text" placeholder="&#xF002; By Name" ng-model="searchmyval" class="search">
    </form>
    <div style="height: 27px;background: #fafafa;">
      <div style="justify-content: center;height: inherit;display:  flex;">
        <span class="checkmark">
                      <div class="checkmark_circle"></div>
                      <div class="checkmark_stem"></div>
                      <div class="checkmark_kick"></div>
          
              </span>
        <div style="padding-left: 4px;height: 2px;">
          <div style="display: inline-flex;font-family: &quot;Montserrat Light&quot;;padding: 2px;/* top: -5px; *//* padding-top:  4px; */"> = My Customer </div>
        </div>
      </div>
    </div>
    <ion-list>      
      <ion-item style="font-family: Montserrat Regular" ng-repeat="client in myClients | filter:{name1:searchmyval}"  type="item-text-wrap" data-ng-click="showClientDetail(client)">
         <p style="margin-bottom: 7px"><span class="client-category" ng-class="client.custType + '-bkg'">
                  {{client.custType | asFullTypeString}}
            </span>
        </p>
        <div class="empname">{{client.name1}}
          <span class="checkmark" ng-if="(client.salesperson == employeeid )">
                <div class="checkmark_circle"></div>
                <div class="checkmark_stem"></div>
                <div class="checkmark_kick"></div>
              </span>
        </div>
         <p style="width: 95%;white-space:normal;font-family: &quot;Montserrat Regular&quot;;color: #9E9E9E;margin: 0;font-size: 13px;">
          <span>
            <i class="icon ion-ios-location" style="padding-right: 3px;color: #87cf87;"></i></span>{{client.houseno }} {{ client.street }}, {{ client.city }}, {{ client.state }} {{ client.zip }} 
          </p>
        <div class="item-icon-right">
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
