<ion-view view-title="Client History">
  <ion-content class="bg-light content content-md">
    <ion-scroll direction="x" class="scroll-view">
      <div class="row text-center">
        <div class="col col-33 segment-completed {{active_segment == 1 ? 'active' : ''}}" ng-click="activate_segment(1)">
          COMPLETED
        </div>
        <div class="col col-33 segment-incomplete {{active_segment == 2 ? 'active' : ''}}" ng-click="activate_segment(2)">
          INCOMPLETE
        </div>
        <div class="col col-33 segment-cancelled {{active_segment == 3 ? 'active' : ''}}" ng-click="activate_segment(3)">
          CANCELLED
        </div>
      </div>
    </ion-scroll>
    <div ng-if="active_segment == 1">
      <div class="row responsive-sm" style="flex-wrap:wrap;">
      <div class="col" style="margin:  0;">
        <ion-card class="card card-md">
          <ion-card-content class="card-content">
            <div class="status">
              <!-- <img src="img/approve.png">-->
              <div id="hp-ctn-howItWorks" class="Complete">
                <p>Complete</p>
              </div>
            </div>
            <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div text-left="">
                  Contract
                  <h2 style="font-size: 1.25rem;">40056127</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Item
                  <h2 style="font-size: 1.25rem;">131</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col">
                <div style="text-align: right;" style="color:#4CAF50;">
                  Price
                  <h2 style="font-size: 1.25rem;">$120</h2>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="row">
              <ion-col class="detail-text col col-75" style="color:#4CAF50;">
                <div text-left="">
                  Material Description
                  <h2 style="font-size: 1.25rem;">Tree Pruning(113)</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">Doc Year
                  <h2 style="font-size: 1.25rem;">2016</h2>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div>
                  Last Service Date
                  <!--  <h2>23<sup>rd</sup> Feb, 18</h2> -->
                  <h2 style="font-size: 1.25rem;">Feb 03, 2016</h2>
                </div>
              </ion-col>
              <ion-col center="" class="col" text-center="">
                <button class="btn rounded full text-white Complete" ng-click="viewTexts(contract)">View Text</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col" style="margin:  0;">
        <ion-card class="card card-md">
          <ion-card-content class="card-content>
            <div class="status">
              <!-- <img src="img/approve.png">-->
              <div id="hp-ctn-howItWorks" class="Complete">
                <p>Complete</p>
              </div>
            
            <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div text-left="">
                  Contract
                  <h2 style="font-size: 1.25rem;">40056127</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Item
                  <h2 style="font-size: 1.25rem;">131</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Price
                  <h2 style="font-size: 1.25rem;">$120</h2>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="row">
              <ion-col class="detail-text col col-75" style="color:#4CAF50;">
                <div text-left="">
                  Material Description
                  <h2 style="font-size: 1.25rem;">Tree Pruning(113)</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">Doc Year
                  <h2 style="font-size: 1.25rem;">2016</h2>
                </div>
              </ion-col>
            </ion-row>
              <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div>
                  Last Service Date
                  <!--  <h2>23<sup>rd</sup> Feb, 18</h2> -->
                  <h2 style="font-size: 1.25rem;">Feb 03, 2016</h2>
                </div>
              </ion-col>
              <ion-col center="" class="col" text-center="" style="margin-bottom: 0">
                <button class="btn rounded full text-white Complete" ng-click="viewTexts(contract)">View Text</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>


       <div class="col" style="margin:  0;">
        <ion-card class="card card-md">
          <ion-card-content class="card-content>
            <div class="status">
              <!-- <img src="img/approve.png">-->
              <div id="hp-ctn-howItWorks" class="Complete">
                <p>Complete</p>
              </div>
            
            <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div text-left="">
                  Contract
                  <h2 style="font-size: 1.25rem;">40056127</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Item
                  <h2 style="font-size: 1.25rem;">131</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Price
                  <h2 style="font-size: 1.25rem;">$120</h2>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="row">
              <ion-col class="detail-text col col-75" style="color:#4CAF50;">
                <div text-left="">
                  Material Description
                  <h2 style="font-size: 1.25rem;">Tree Pruning(113)</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">Doc Year
                  <h2 style="font-size: 1.25rem;">2016</h2>
                </div>
              </ion-col>
            </ion-row>
              <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div>
                  Last Service Date
                  <!--  <h2>23<sup>rd</sup> Feb, 18</h2> -->
                  <h2 style="font-size: 1.25rem;">Feb 03, 2016</h2>
                </div>
              </ion-col>
              <ion-col center="" class="col" text-center="" style="margin-bottom: 0">
                <button class="btn rounded full text-white Complete" ng-click="viewTexts(contract)">View Text</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>

         <div class="col" style="margin:  0;">
        <ion-card class="card card-md">
          <ion-card-content class="card-content>
            <div class="status">
              <!-- <img src="img/approve.png">-->
              <div id="hp-ctn-howItWorks" class="Complete">
                <p>Complete</p>
              </div>
            
            <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div text-left="">
                  Contract
                  <h2 style="font-size: 1.25rem;">40056127</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Item
                  <h2 style="font-size: 1.25rem;">131</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">
                  Price
                  <h2 style="font-size: 1.25rem;">$120</h2>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="row">
              <ion-col class="detail-text col col-75" style="color:#4CAF50;">
                <div text-left="">
                  Material Description
                  <h2 style="font-size: 1.25rem;">Tree Pruning(113)</h2>
                </div>
              </ion-col>
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div style="text-align: right;">Doc Year
                  <h2 style="font-size: 1.25rem;">2016</h2>
                </div>
              </ion-col>
            </ion-row>
              <ion-row class="row">
              <ion-col class="detail-text col" style="color:#4CAF50;">
                <div>
                  Last Service Date
                  <!--  <h2>23<sup>rd</sup> Feb, 18</h2> -->
                  <h2 style="font-size: 1.25rem;">Feb 03, 2016</h2>
                </div>
              </ion-col>
              <ion-col center="" class="col" text-center="" style="margin-bottom: 0">
                <button class="btn rounded full text-white Complete" ng-click="viewTexts(contract)">View Text</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
