<ion-view view-title="Client Lookup">
   <ion-header-bar class="bar bar-subheader">
      <h2 class="title">Search Form</h2>
   </ion-header-bar>
<ion-content>
    <form class="signup_form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Company Name</span>
          <input type="text" class="signup_companyname" name="companyname" value="" placeholder="Your Company Name">
        </label>

        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" class="signup_firstname" name="firstname" value="" placeholder="First Name">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" class="signup_lastname" name="lastname" value="" placeholder="Last Name">
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" class="signup_email" name="email" value="" placeholder="Email Address">
        </label>

        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" class="signup_username" name="username" value="" placeholder="Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" class="signup_password" name="password" value="" placeholder="Password">
        </label>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" name="signup_email_consent" class="signup_email_consent">
           </label>
           I consent to receiving emails
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" name="signup_agree_tos" class="signup_agree_tos">
           </label>
           I agree to the Terms of Service
        </li>
      </div>

      <div class="privacy_consent_row">
        By signing up for Shift Status, you agree to our <a href="#" ng-click="change_view('app.view_tos', 1)">Terms of Service</a> and <a href="#" ng-click="change_view('app.privacy', 1)">Privacy Policy</a>
      </div>

      <div class="row">
        <button class="button button-full signup_button col-45" ng-click="signup_user($event)">
          Create Account
        </button>
      </div>
    </form>
</ion-content>
<ion-footer-bar class="bar-calm">
      <button class="button button-clear">SEARCH</button>
 </ion-footer-bar>
</ion-view>