<ion-view title="Client Lookup">
  <ion-content class="home-component" style="background: #248b4f">
    <ion-grid box-sizing="none" class="smallerScreen grid">
      <ion-row tappable class="row" style="align-items: center;" ng-click="goTo('app.client_search')">
        <ion-col class="col w20_flex" style="align-self:center;">
          <div class="diagnosisIcon"></div>
        </ion-col>
        <ion-col class="col">
          <h1>Search</h1>
          <h2>Search All Client/Prospects Within Your Office</h2>
        </ion-col>
        <ion-col class="col w10_flex" style="align-self:center;">
          <i class="fa fa-chevron-right" style="font-size: 20px"></i>
        </ion-col>
      </ion-row>
   <!--     <ion-row class="row" style="align-items: center;" ng-click="goTo('client_search')">
        <ion-col class="col w20_flex" style="align-self:center;">
          <div class="careIcon"></div>
        </ion-col>
        <ion-col class="col">
          <h1>Map</h1>
          <h2>Find Clients/Prospects Near You</h2>
        </ion-col>
        <ion-col class="col w10_flex" style="align-self:center;">
          <i class="fa fa-chevron-right" style="font-size: 20px"></i>
        </ion-col>
      </ion-row> -->
        <ion-row class="row" style="align-items: center;" ng-click="goToMyClients()">
        <ion-col class="col w20_flex" style="align-self:center;">
          <div class="familyIcon"></div>
        </ion-col>
        <ion-col class="col">
          <h1>My Clients/Prospects</h1>
          <h2>Find Clients/Prospects Who You Worked With</h2>
        </ion-col>
        <ion-col class="col w10_flex" style="align-self:center;">
          <i class="fa fa-chevron-right" style="font-size: 20px"></i>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-view>
