<ion-modal-view>
        <ion-header-bar class="bar bar-header speciesheader">
          <h1 class="title">Select SalesOffice({{salesOfficeList.length}})</h1>
          <button class="button button-positive button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
         <ion-header-bar class="bar-light bar-subheader">
         <label class="item item-input searchinput">
          <i class="icon ion-search placeholder-icon"></i>
          <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
        </label>
        </ion-header-bar>
        <ion-content>
           <ion-list style="font-family: &quot;Montserrat Regular&quot;;">
            <ion-item ng-repeat="soff in salesOfficeList| filter:searchText" ng-click="setSalesOffice(soff)">
             {{soff.officeName}} ({{soff.officeno}})
            </ion-item>
           </ion-list>
        </ion-content>
</ion-modal-view>