<ion-modal-view>
        <ion-header-bar class="bar bar-header speciesheader">
          <h1 class="title">Select Year Range</h1>
          <button class="button button-positive button-primary" ng-click="YearsModal.hide()">Cancel</button>
        </ion-header-bar>
         <ion-header-bar class="bar-light bar-subheader">
         <label class="item item-input searchinput">
          <i class="icon ion-search placeholder-icon"></i>
          <input class="searchinput" type="text" placeholder="Search" ng-model="searchText">
        </label>
        </ion-header-bar>
        <ion-content style="font-family: &quot;Montserrat Regular&quot;, &quot;Roboto&quot;, Arial, sans-serif;">
           <ion-list>
            <ion-item ng-repeat="year in years| filter:searchText" ng-click="setYear(year)">
             {{year}}
        </ion-item>
      </ion-list>
        </ion-content>
</ion-modal-view>