<ion-modal-view>
	 <ion-header-bar class="bar bar-header speciesheader">
          <h1 class="title">Provide Year Range</h1>
          <button class="button button-positive button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content style="background-color: #fff">
          <div>
           <rzslider rz-slider-model="slider.minValue"
                     rz-slider-high="slider.maxValue"
                     rz-slider-options="slider.options"></rzslider>
          </div>
          <button class="btn" ng-click="setYear()">Submit</button>
        </ion-content>
</ion-modal-view>