/*
    Description: 	Contact Framework
    Author: 		Insidelabdev
    Version: 		2.0
*/

/*	--------------------------------------------------
	:: MOBILE PORTRAIT DESIGN WIDTH BELOW 40EM
	-------------------------------------------------- */
    
	@media only screen and (max-width:39.9375em) {
        
	    .contact-widget-container { max-width:100%; }
		
		.contact-widget .contact-widget-pre-header { padding:25px; }
		.contact-widget .contact-widget-pre-header .contact-widget-company-holder { float:none; width:100%; }
		.contact-widget .contact-widget-pre-header .contact-widget-company-description { display:none; }
		.contact-widget .contact-widget-pre-header .contact-widget-company-holder .contact-widget-company-logo{ text-align:center; margin:0 auto; }
		
		.contact-widget .contact-widget-header i{
			position:relative;
			left:auto;
			margin:0 auto 5px auto;
			text-align:center;
		}
		
		.contact-widget .contact-widget-header,
		.contact-widget .contact-widget-header .contact-widget-language{ 
			margin:0 auto;
			text-align:center;
		}
		
		.contact-widget .contact-widget-header .contact-widget-language{ 
		    position:relative;
			top:10px;
		}
	
		.contact-widget .contact-widget-header h4,
		.contact-widget .contact-widget-header p { line-height:22px; margin-left:0; }
		
		.contact-widget .contact-widget-rating-group h4 {
			line-height:18px;
		}
		
		.contact-widget .contact-widget-rating {
			float:none;
			text-align:left;
		}
		
		.contact-widget .contact-widget-rating ~ .contact-widget-error{ 
			text-align:left;
		}
		
		.contact-widget .contact-widget-radio-group label,
		.contact-widget .contact-widget-checkbox-group label,
		.contact-widget .contact-widget-radio-toggle-group label,
		.contact-widget .contact-widget-checkbox-toggle-group label{
			display:block;
			text-align:left;
		}
		
		.contact-widget .contact-widget-checkbox + .contact-widget-content::after{
			margin:5px 0 0 0;
			display:block;
		}
		
		.contact-widget .contact-widget-header .contact-widget-return {
			position:relative;
			display:inline-block;
			top:auto;
			right:auto;
		    margin:20px auto 0 auto;
			text-align:center;
		}
		
		.contact-widget-palette {
			width:192px;
		}
		
		.contact-widget-picker-container {
			display:none;
		}
		
		.contact-widget-sp button {
			display:none;
		}
		
		.contact-widget .contact-widget-header .contact-widget-arrow:before {
			left:50%;
			-webkit-transform:translateX(-50%);
			   -moz-transform:translateX(-50%);
					transform:translateX(-50%);
		}
		
    }
	
/*	--------------------------------------------------
	:: MOBILE LANDSCAPE DESIGN WIDTH 40EM
	-------------------------------------------------- */

	@media only screen and (min-width:40em) and (max-width:51.9375em) {
        
	    .contact-widget-container { max-width:100%; }
		
		.contact-widget .contact-widget-pre-header { padding:25px; }
		.contact-widget .contact-widget-pre-header .contact-widget-company-holder { float:none; width:100%; }
		.contact-widget .contact-widget-pre-header .contact-widget-company-description { display:none; }
		.contact-widget .contact-widget-pre-header .contact-widget-company-holder .contact-widget-company-logo{ text-align:center; margin:0 auto; }
		
		.contact-widget .contact-widget-header i{
			position:relative;
			left:auto;
			margin:0 auto 5px auto;
			text-align:center;
		}
		
		.contact-widget .contact-widget-header,
		.contact-widget .contact-widget-header .contact-widget-language{ 
			margin:0 auto;
			text-align:center;
		}
		
		.contact-widget .contact-widget-header .contact-widget-language{ 
		    position:relative;
			top:10px;
		}
	
		.contact-widget .contact-widget-header h4,
		.contact-widget .contact-widget-header p { line-height:22px; margin-left:0; }
		
		.contact-widget .contact-widget-rating-group h4 {
			line-height:18px;
		}
		
		.contact-widget .contact-widget-rating {
			float:none;
			text-align:left;
		}
		
		.contact-widget .contact-widget-rating ~ .contact-widget-error{ 
			text-align:left;
		}
		
		.contact-widget .contact-widget-radio-group label,
		.contact-widget .contact-widget-checkbox-group label,
		.contact-widget .contact-widget-radio-toggle-group label,
		.contact-widget .contact-widget-checkbox-toggle-group label{
			display:block;
			text-align:left;
		}
		
		.contact-widget .contact-widget-header .contact-widget-return {
			position:relative;
			display:inline-block;
			top:auto;
			right:auto;
		    margin:20px auto 0 auto;
			text-align:center;
		}
		
		.contact-widget-palette {
			width:192px;
		}
		
		.contact-widget-picker-container {
			display:none;
		}
		
		.contact-widget-sp button {
			display:none;
		}
		
		.contact-widget .contact-widget-header .contact-widget-arrow:before {
			left:50%;
			-webkit-transform:translateX(-50%);
			   -moz-transform:translateX(-50%);
					transform:translateX(-50%);
		}
		
    }

/*	--------------------------------------------------
	:: TABLET PORTRAIT DESIGN WIDTH 52EM
	-------------------------------------------------- */

	@media only screen and (min-width:52em) and (max-width:63.9375em) {
        
		.contact-widget-container { max-width:100%; }
		
		.contact-widget-palette {
			width:192px;
		}
		
		.contact-widget-picker-container {
			display:none;
		}
		
		.contact-widget-container button {
			display:none;
		}
		
	}
    
/*	--------------------------------------------------
	:: TABLET LANDSCAPE DESIGN WIDTH 64EM
	-------------------------------------------------- */
	
	@media only screen and (min-width:64em) and (max-width:74.9375em) {
		
		.contact-widget-palette {
			width:192px;
		}
		
		.contact-widget-picker-container {
			display:none;
		}
		
		.contact-widget-sp button {
			display:none;
		}
        
	}
	
/*	--------------------------------------------------
	:: DESKTOP DESIGN WIDTH 75EM
	-------------------------------------------------- */
	
	@media only screen and (min-width:75em) {
		
	}