<ion-view view-title="Client Details" cache-view="false">
  <ion-content>
         <!-- Map Section-->
     <div class="client__map--container">
      <div ng-init="test()"></div>
       <!--<div map-single style="height:100%;width:100vw"></div> -->
        <leaflet lf-center="center" defaults="defaults" markers="markers" height="100%" width="100%"></leaflet>
       
         <div class="leaflet-bottom leaflet-right" style="bottom:40px">
         	   <button ion-button class="button-action" ng-click="openNavigator()"  block>Get Directions!</button>      
         </div>
    </div>

     <!-- <div class="takeme">
           <a ng-click="openNavigator()">
            Get Directions 
           </a>
      </div>-->

</ion-content>
</ion-view>

