<ion-view view-title="Client Details">
  <ion-header-bar class="bar bar-light" style="background-color: #23ab04;">
    <div class="buttons">
      <button class="button button-icon ion-ios-arrow-back" style="color: white" ng-click="goBack()"></button>
    </div>
    <h2 class="title" style="color: white">Basic Information</h2>
    <div class="buttons">
      <button class="button button-right button-icon  
ion-android-search" style="color:white" ng-click="goToSearchForm()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="app-content app-content__client">
    <div class="client__viewport" ui-view>
      <div class="client__details">
        <div class="client__details__section">
          <div class="details__section__header">
            <h5 class="client__name">{{selectedClient.name1}}
           <span class="checkmark" ng-if="selectedClient.salesperson == employeeid">
                <div class="checkmark_circle"></div>
                <div class="checkmark_stem"></div>
                <div class="checkmark_kick"></div>
              </span>
            </h5>
            <span class="primary-tag" ng-if="selectedClient.name2">{{selectedClient.name2}}</span>
            <span class="client-category" ng-class="selectedClient.custType + '-bkg'">
                   {{selectedClient.custType | asFullTypeString}}
           </span>
          </div>
        </div>

     <!--   <div class="client__contact-info" style="margin:0;padding:0">
          <div class="landing-page-bottom-list-image" ng-click="goToMapPage()">
              <img src="img/customers_nearme.png " style="width:40px" />
                <p style="font-size: 18px;font-family: &quot;Montserrat Light&quot;;"> {{ selectedClient.houseno }} {{ selectedClient.street }}, {{ selectedClient.city }}, {{ selectedClient.state }} {{ selectedClient.zip }} 
                </p>

                
                         <i class="icon ion-chevron-right icon-accessory" style="position: relative;right: -15px;font-size: 25px;color: #9E9E9E;"></i>
         
          </div>

           
        </div> -->

       <div ng-repeat="group in general_groups" style="font-family: &quot;Montserrat SemiBold&quot;;">
          <div ripple class="landing-page-bottom-list small-card" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <div class="landing-page-bottom-list-image">
              <img src="img/client_general_info.png" style="width:30px" />
            </div>
            <div class="landing-page-bottom-list-content">
              <h3>View General Info</h3>
            </div>
            <div class="landing-page-bottom-list-bullet">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            </div>
          </div>

              <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" style="white-space: normal;line-height: 1">
               
                <p class="people-email-title" style="font-size: 15px">Customer Number</p>
                <p class="people-email-adress"  style="white-space: pre-wrap;margin:2px;font-size:16px;font-family: &quot;Montserrat Light&quot;;">{{selectedClient.custno}}</p>
                
              </div>
              
               <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" style="white-space: normal;line-height: 1">
               
                <p class="people-email-title" style="font-size: 15px">Address</p>
                <p style="white-space: pre-wrap;margin:2px;color:#222;font-size:16px;font-family: &quot;Montserrat Light&quot;;">{{ selectedClient.houseno }} {{ selectedClient.street }}, {{ selectedClient.city }}, {{ selectedClient.state }} {{ selectedClient.zip }} </p>
                
                <a ng-click="goToMapPage()" class="icon positive ion-map"></a>
              </div>
              
               <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if="selectedClient.salesperson_name" style="white-space: normal;line-height: 1">
               
                <p ng-if="selectedClient.salesperson_name" class="people-email-title" style="font-size: 15px">Sales Employee</p>
                <p class="people-email-adress" ng-if="selectedClient.salesperson_name" style="white-space: pre-wrap;margin:2px;font-size:16px;font-family: &quot;Montserrat Light&quot;;">{{selectedClient.salesperson_name}}</p>
              </div>


        </div>

        <div ng-repeat="group in contact_groups" style="font-family: &quot;Montserrat SemiBold&quot;;">
          <div ripple class="landing-page-bottom-list small-card" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <div class="landing-page-bottom-list-image">
              <img src="img/client_contact_info.png" style="width:30px" />
            </div>
            <div class="landing-page-bottom-list-content">
              <h3>View Contact Info</h3>
            </div>
            <div class="landing-page-bottom-list-bullet">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            </div>
          </div>

          <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if="selectedClient.emailAddress != ''">
           
            <p ng-if="selectedClient.emailAddress != ''" class="people-email-title">E-Mail</p>
            <a ng-href="mailto:{{selectedClient.emailAddress}}" class="people-email-adress" ng-if="selectedClient.emailAddress != ''" style="font-family: &quot;Montserrat Light&quot;;">{{selectedClient.emailAddress}}</a>
            
            <a ng-href="mailto:{{selectedClient.emailAddress}}" ng-if="selectedClient.emailAddress" class="icon positive ion-ios-email-outline"></a>
          </div>

          <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if = "selectedClient.homePhone != ''">
            
                <p class="people-email-title">Home Phone</p>
                <a ng-href="tel:{{selectedClient.homePhone}}" class="people-email-adress" ng-if="selectedClient.homePhone !== ''" style="font-family: &quot;Montserrat Light&quot;;">{{selectedClient.homePhone}}</a>
              
                <a ng-href="tel:{{selectedClient.homePhone}}" ng-if="selectedClient.homePhone" class="icon positive ion-ios-telephone-outline"></a>
          </div>


          <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if = "selectedClient.cellPhone != ''">
          
                <p class="people-email-title">Cell Phone</p>
                <a ng-href="tel:{{selectedClient.cellPhone}}" class="people-email-adress" ng-if="selectedClient.cellPhone !== ''" style="font-family: &quot;Montserrat Light&quot;;">{{selectedClient.cellPhone}}</a>
               
                <a ng-href="tel:{{selectedClient.cellPhone}}" ng-if="selectedClient.cellPhone" class="icon positive ion-ios-telephone-outline"></a>

          </div>
           <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if = "!(selectedClient.faxPhone == '' || selectedClient.faxPhone == null)">
          
                <p class="people-email-title">Fax Phone</p>
                <a ng-href="tel:{{selectedClient.faxPhone}}" class="people-email-adress" ng-if="selectedClient.faxPhone !== ''" style="font-family: &quot;Montserrat Light&quot;;">{{selectedClient.faxPhone}}</a>
              
                <a ng-href="tel:{{selectedClient.faxPhone}}" ng-if="selectedClient.faxPhone" class="icon positive ion-ios-telephone-outline"></a>
           
          </div>
           <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if = "selectedClient.workPhone != ''">
         
                <p class="people-email-title">Work Phone</p>
                <a ng-href="tel:{{selectedClient.workPhone}}" class="people-email-adress" ng-if="selectedClient.workPhone !== ''" style="font-family: &quot;Montserrat Light&quot;;">{{selectedClient.workPhone}}</a>
             
                <a ng-href="tel:{{selectedClient.workPhone}}" ng-if="selectedClient.workPhone" class="icon positive ion-ios-telephone-outline"></a>

          </div>
           <div class="item item-icon-right people-email" ng-show="isGroupShown(group)" ng-if = "selectedClient.otherPhone != ''">
          
                <p class="people-email-title">Other Phone</p>
                <a ng-href="tel:{{selectedClient.otherPhone}}" class="people-email-adress" ng-if="selectedClient.otherPhone !== ''" style="font-family: &quot;Montserrat Light&quot;;">{{selectedClient.otherPhone}}</a>
               
                <a ng-href="tel:{{selectedClient.otherPhone}}" ng-if="selectedClient.otherPhone" class="icon positive ion-ios-telephone-outline"></a>

          </div>
     </div>

        <div ng-repeat="group in comments_groups " style="font-family: &quot;Montserrat Regular&quot;;" ng-if="customerComments">
          <div ripple class="landing-page-bottom-list small-card " ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <div class="landing-page-bottom-list-image ">
              <img src="img/customer_texts.png " style="width:30px" />
            </div>
            <div class="landing-page-bottom-list-content ">
              <h3>View Comments</h3>
            </div>
            <div class="landing-page-bottom-list-bullet ">
              <i ng-if="customerComments " class="icon " ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus' "></i>
            </div>
           </div>
          
                 <div class="item" ng-show="isGroupShown(group)" style="font-family:&quot;Montserrat Light&quot;, &quot;Roboto&quot;, Arial, sans-serif;white-space: normal ">{{selectedClient.comments}}     
     
           </div>
       
     </div>

      </div>
    </div>

   

  </ion-content>
</ion-view>
