<ion-modal-view>
        <ion-header-bar class="bar bar-header speciesheader">
          <h1 class="title">Contract Texts</h1>
          <button class="button button-positive button-primary" ng-click="modal.hide()">Close</button>
        </ion-header-bar>
        
        <ion-content>
      <div class="row" style="padding-top:10px;padding-bottom: 20px" ng-repeat="contract_text in contracts_texts">
      <p style="line-height: 50px;word-wrap: inherit;font-size: 25px;font-family: 'Montserrat Light'">
        {{contract_text.text}}
      </p>
    </div>
        </ion-content>
</ion-modal-view>