/**Dashboard and Menu.html*/
.unsnow-title
{
    font-size: 18px;
    height: 100%;
    vertical-align: middle;    
    color: #ffffff;
    background-color: #00833F /*#222C38*/;
}

.unsnow-title .img
{
    text-align:center;
    height: 60%;
    width: auto;
}


.bar.bar-stable
{
    background-color: #00833F/* #222C38/*#fff*/ !important;
    border-color: #238b7e /*#222C38*/ !important;
    box-shadow: 3px 3px 2px -3px #919497;
}

.dev-item-sum-time-title,
.item.dev-item-calc-time-title {
    border: none;
    font-size: 17px;
    padding: 6px;
    color: #525252;
    text-align: center;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.dev-item-sum-time,
.item.dev-item-calc-time {
    border: none;
    padding: 6px;
    font-size: 22px;
    color: #2b9d86;
    text-align: center;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}

.button.dev-button-preset {
    margin-top: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 6px 7px #788978;
}

.loading-container .loading {
 /*   background-color: #1b6153;
    font-size: 18px;
    padding: 25px*/
}

.slider {
    height: 100%;
    width: 100%;
}

.swiper-container{
  overflow: scroll;
}

.col.choice {
  border-top: 1px solid #ccc;
  padding: 12px;
  font-size: 14px;
  font-weight: 600
}

.col.choice.no {
 
  border: 2px solid grey;
    background: #cac2c2;
    text-transform: uppercase;
}