/* Landing */
.hero.hero-landing {
    height: 150px;
    margin-bottom: 0
}

.hero {
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    height: 200px;
    position: relative;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(.55, 0, .1, 1);
    transition: all 1s cubic-bezier(.55, 0, .1, 1);
    transform: translate3d(0, 0, 0);
    width: 100%
}

.flat{
  box-shadow: none;
}

.hero>.landing_content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    top:10px;
}

.hero>* {
    opacity: 1;
    filter: alpha(opacity=100)
}


/* Login.html */
.welcome{
	background-color:  #2b6c1f/*#222C38*/;
}


.welcome .logo{
	width:20%;
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    text-align: center;
}

.row-slider{
    height:25%;
}

.landimg{
   width:50%;
   height:50%;
}

.wbutton{
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;

}

/********************************************************************************************************************************/
.bar-subheader .title{
	  border-color: #2b6c1f /*#222C38*/;
    background-color: #ffffff;
    color: #222223; 
    margin:0 auto;
    font-family: "Montserrat SemiBold";
    font-size:21px;
}

.bar-stable .button.button-icon{
   color: #ffffff;

}

.dashboard{
  top:80px !important;
}

.content{
    background-color: #efeded;
}

.category-ion-item .item-content {
  padding: 0; }

.category-items {
  position: relative; }
  .category-items:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #f2f2f2;
  }
  .category-items .item-content {
    padding: 0; }
  .category-items .item h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-align: left;
    z-index: 2; }

.category-item-image {
  position: relative;
  z-index: 2; }
  .category-item-image img {
    width:90px;
    height: auto;
    display: block;
    background-color: #efeded; 
       -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); }

.category-item-tools {
  padding: 8px 15px; }
  .category-item-tools h3 {
    color: #000;
    font-size: 1.23077em;
    line-height: 20px; }
  .category-item-tools .col {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }


.side-bar-header {
    height: 184px;
    width: 115%;
    border-width: 0;
    border-style: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    background-size: 0;
    left: -5px;
    top: -5px
}
.side-bar-background {
    background: url(../img/side.png);
    background-size: cover;
    width: 115%
}
.side-bar-background p {
    bottom: 0;
    position: absolute;
    margin-left: 9px;
    color: #fff;
    font-family: dosis-medium;
    font-size: 16px;
    margin-bottom: 12px
}
.side-menu-content-top {
    margin-top: 160px
}


.profile_box {float: left; padding: 20px; width: 100%; }
.profile_box img {max-width: 70%; }

.width100{width: 0%;
          height: 150px;}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.pull-left {
  float: left !important;
}
.menuhead{
    text-align:center;
    height:109px;
    background-color: #222C38;
}
.menuiIcon img{width: 22px; float: left; margin-right: 15px; opacity: .6}
.menuTitle{
    font-size: 16px;
}
.menuimage{
     width: 50%;
     height:90%;
     text-align:top;
}

.side-menu-avatar {
  width: 80px;
  height: 80px; 
  margin: auto;
  display: block;
  border-radius: 150px;
}

.profile-avatar {
  border: 3px solid #fff !important;
}


p{
  margin:0 auto;
}

.side-nav-top {
    background-color: #6dbc8c; /*top colour*/
background-image: -webkit-linear-gradient(top, #6dbc8c, #2b6c1f);
background-image:    -moz-linear-gradient(top, #6dbc8c, #2b6c1f);
background-image:      -o-linear-gradient(top, #6dbc8c, #2b6c1f);
background-image:         linear-gradient(to bottom, #6dbc8c, #2b6c1f);
    /*background: url(../img/sidemenu/sidemenu-pattern-2.png);*/
    background-size: cover;
    padding-top: 35px;
}

.avatar-side-nav {
  border: 3px solid #FEC10E !important;
}

ion-item.item-icon-left.item-borderless.side-nav-li.item.item-complex > a.item-content.active{
  background: none !important;
  border: none !important;
  color: #FBB423;
}

ion-item.item-icon-left.item-borderless.side-nav-li.item.item-complex > a.item-content.activated {
  background: #5F61B9 !important;
  border: none !important;
  color: #000000 /*#fff*/;
}

.item-side-nav img {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    height: 100px;
    border: 3px solid #573BA9;
}


.side-nav-li {
  font-size: 14px;
  font-family: 'Montserrat';
}

.side-nav-li > a > i {
    font-size: 23px !important;
}

 div.text-white h1, div.text-white h2,  div.text-white h3, div.text-white h4, div.text-white p, div.text-white textarea, div.text-white input[type="text"], div.text-white input[type="password"], div.text-white input[type="datetime"], div.text-white input[type="datetime-local"], div.text-white input[type="date"], div.text-white input[type="month"], div.text-white input[type="time"], div.text-white input[type="week"], div.text-white input[type="number"], div.text-white input[type="email"], div.text-white input[type="url"], div.text-white input[type="search"], div.text-white input[type="tel"], div.text-white input[type="color"], div.text-white span {
   color: #fff;
} 

ion-list ion-item.item-borderless.active {
    border-bottom: none;
    font-weight: bold;
    color: #fff;
    background-color: #444443 /*rgba(255,255,255,.1)*/ !important;
}


ion-item.item-icon-left.item-borderless.side-nav-li.item.item-complex > a.item-content.active{
  background: none !important;
  border: none !important;
  color: #FBB423;
}

ion-item.item-icon-left.item-borderless.side-nav-li.item.item-complex > a.item-content.activated {
  background:; #5F61B9 !important;
  border: none !important;
  color: #fff;
}

.item.active.item-complex > .item-content {
   background-color: #109250  !important; //When menu item is in active state
}

.background-white {
  background: #fff !important;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.fixed-bottom-start {
    position: absolute;
    bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.text-purple {
  color: #7157BE !important;
}

.text-light-purple {
  color: #937DD5 !important;
  font-family:"Montserrat Regular", "Roboto", Arial, sans-serif;
}

.not_head{
 white-space: normal;

    }

.not_item{
    margin:0px;
    padding:0px;
    border-style: none;
}

.article-content{
    padding:0px;
}

.nots-row{
    padding:0px;
}
/**************************************************************************************************************************/
/**Crane Safety Calculator**//
.dev-bar-footer,
.dev-bar-header {
    background-color: #2b9d86;
    background-image: none;
    border: 0
}
.dev-bar-footer .button {
    color: #fff;
    background-color: #2b9d86;
    font-size: 15px
}
ion-nav-bar.bar {
    border: 0
}
.dev-bar-header .icon,
.dev-bar-header .title {
    color: #fff;
    font-family: latoregular;
    letter-spacing: 1px;
    font-weight: 400
}
ion-side-menu .bar.dev-bar-menu-header {
    background-color: #1b6153;
    background-image: none;
    border: 0;
    text-align: center;
    display: block
}
.scroll-bar-indicator {
    display: none
}
.dev-bar-menu-header-logo {
    height: 41px;
    margin-top: -4px;
    margin-left: -8px
}
.dev-side-menu {
    background-color: #2b9d86
}
.dev-side-menu ion-item {
    background-color: #2b9d86;
    color: #fff;
    border: none
}
.dev-side-menu ion-item .item-content {
    background-color: #2b9d86
}
.dev-side-menu-item {
    padding: 0;
    margin-top: 8px
}
.item .item-content.activated,
.item .item-content.active {
    border: none;
    background-color: #1b6153
}
.item {
    margin: 0
}
.button.dev-side-menu-button {
    background-color: #2b9d86;
    color: #fff;
    border-radius: 0;
    margin-top: 5px;
    margin-left: -4px
}
.button.dev-side-menu-button.activated {
    border-radius: 0
}
.dev-side-menu-button:hover {
    color: #fff
}
button.button.dev-side-menu-button::before {
    font-size: 30px
}

.dev-item-sum-box,
.item.dev-item-calc-box {
    background-color: #fff;
    color: #525252;
    overflow: visible;
    margin: 0 0 10px;
    text-align: center;
    border-width: thick;
    border-color: #2b9d60;
    border-radius: 5px
}
.dev-item-sum-box {
    text-align: left
}
.dev-build-session-box {
    text-align: left;
    background-color: #fff;
    color: #525252;
    overflow: visible;
    padding: 10px;
    border-width: thick;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color:#2b9d60;
}
.dev-build-session-box-input-title {
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    width: 0 !important;
}
.dev-item-sum-box-time,
.item.dev-item-calc-box-time {
    margin-top: 5px
}
.item .dev-item-calc-box-title {
    font-size: 21px;
    color: #525252;
    overflow: visible;
    text-align: left;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 9px
}
.item .dev-item-calc-title {
    font-size: 16px;
    color: #525252;
    overflow: visible;
    padding-bottom: 8px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    letter-spacing: 1px
}
.item .dev-item-calc-num {
    font-size: 20px;
    color: #2b9d86;
    overflow: visible;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.item .dev-item-calc-row {
    margin-bottom: 10px
}
.summary .dev-item-calc-row {
    margin-bottom: 5px
}
.dev-build-form-header {
    background-color: #34bc73;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}
.dev-item-sum-update-list {
    margin-bottom: 3px
}
.dev-item-sum-update-date {
    border: none;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.dev-item-sum-update-date span {
    color: #2b9d86;
    font-weight: 700
}
.dev-item-sum-update-track {
    border: none;
    padding: 3px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    letter-spacing: 1px
}
.dev-item-sum-update-track-num {
    font-size: 17px;
    color: #2b9d86;
    padding-left: 5px;
    overflow: visible;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.dev-item-sum-update-track-num-extra {
    font-size: 15px;
    color: #ccc
}
.session-sum-results {
    font-size: 20px;
    color: #fff;
    background-color: #34b99e;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    margin: 0 0 10px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    letter-spacing: 1px;
    border-radius: 5px
}
.button.dev-back-to-logs {
    margin-top: 20px
}
.item.item-collection {
    background-color: transparent;
    border: none;
    padding: 2px
}
.item-collection-row {
    padding: 0
}
.item-collection-col {
    text-align: center;
    color: #fff
}
.button.item-collection-item {
    background-color: #fff;
    color: #2b9d86
}
.button.button-full {
    margin: 0;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.item-collection-data,
.item-collection-trash {
    background-color: transparent;
    color: #fff;
    font-size: 18px
}
.list.collection-list {
    margin-top: 0;
    margin-bottom: 0
}
.bar .button.button-icon.cancel-button:before {
    font-size: 20px
}
.button.button-positive,
.popup-buttons .button {
    background-color: #29957f;
    color: #fff;
    border-radius: 5px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.button.activated,
.button.button-positive.activated {
    background-color: #1b6153;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.button-gen {
    background-color: #34bc73;
    border-color: #34bc73;
    border-radius: 5px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.button-bar .button.button-gen,
.list .button-bar .button {
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #010101;
}
.dev-button-left {
    margin: 0 2px 0 0
}
.dev-button-right {
    margin: 0 0 0 2px
}
.dev-button-long {
    background-color: #34bc73;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    font-family:"Montserrat Regular", "Roboto", Arial, sans-serif;
}
.dev-button-long:hover {
    color: #fff
}

.button-bar-home {
    margin-top: 10px
}
.button {
    border-radius: 5px
}
.toggle input:checked+.track {
    border-color: #34b99e;
    background-color: #34b99e
}
.dev-button-long.dev-button-long-exit {
    margin-top: 0
}
.error-box {
    color: #C90005;
    margin: 10px 0;
    background-color: #fff;
    border: none;
    text-align: center;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}
.item .error-overflow {
    color: #C90005
}
.dev-how-it-works-items {
    border-radius: 5px;
    margin-top: 10px;
    border: none
}
.dev-how-it-works-title,
.item .dev-how-it-works-sub-title {
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #525252;
    margin-bottom: 15px
}
.item .dev-how-it-works-step {
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    font-size: 18px;
    color: #525252;
    margin-bottom: 10px
}
.dev-how-it-works-special {
    color: #2b9d86
}
.item .dev-how-it-works-step-name {
    font-size: 17px;
    font-style: normal;
    color: #525252
}
.item .dev-how-it-works-step-para {
    margin-bottom: 15px
}
.dev-how-it-works-items:last-child {
    margin-bottom: 10px
}
.zero-log,
.zero-log-para {
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    color: #dev-med-grey
}
.special-zero,
.special-zero-tip {
    color: #2b9d86;
    font-size: 18px
}
.special-zero-tip {
    margin-bottom: 8px;
    display: block
}
.zero-log-para {
    text-align: left;
    font-style: italic
}

.dev-intro-div {
    text-align: center
}
.nutrilogo {
    height: auto;
    max-width: 259px
}
.element.ng-hide {
    display: none
}
::-webkit-scrollbar {
    display: none
}
.dev-bar-footer, .dev-bar-header {
    background-color: #349d2b;
    background-image: none;
    border: 0;
}

.calc-padding{
    padding: 10px;
}

.full-width {
  width: 100%;
}

.searchinput{
    width: 100%;
}

.card-background-page{
    background: url("../img/green-gradient.svg") no-repeat center fixed;
    top:20px;
}
.card-head{
  text-align:center;
  font-size: 50px;
  height:50px;
}

.card-value{
    border: none;
    font-size: 20px;
    padding: 6px;
    color: #d91f1f;
    text-align: center;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}

.card1{
    padding: 20px;
    margin-top: 30%;
}

.card2{
    padding: 20px;
    margin-top:20%;
}

.bar.bar-stable .title {
    color: #fff;
    font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
}

.category-ion-item .item-content {
  padding: 0; }


.category-items {
  position: relative; }
  .category-items:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #f2f2f2; }
  .category-items .item-content {
    padding: 0; }
  .category-items .item h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-align: left;
    z-index: 2; }

.category-item-image {
  position: relative;
  z-index: 2; }
  .category-item-image img {
    max-width: 100%;
    height: 70%;
    display: block; }

.category-item-tools {
  padding: 8px 15px; }
  .category-item-tools h3 {
    color: #000;
    font-size: 1.23077em;
    line-height: 20px; }
  .category-item-tools .col {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.right-align {
  text-align: right; }

.item-image {
  position: relative; }
  .item-image:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  /*  background-image: -webkit-linear-gradient(top, transparent 60%, #000 100%);
    background-image: -o-linear-gradient(top, transparent 40%, #000 100%);
    background-image: linear-gradient(to bottom, transparent 60%, #000 100%);*/
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
    opacity: 0.7;
    z-index: 1; }
  .item-image h1 {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.58462em;
    line-height: 25px;
    text-align: left;
    z-index: 2;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
  .item-image.featured-article h1 {
    bottom: 20px; }
  .item-image.featured-article .item-tools {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: left;
    z-index: 2; }

.item-image1 {
  position: relative; }
  .item-image1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
    opacity: 0.7;
    z-index: 1; }
  .item-image1 h1 {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.38462em;
    line-height: 25px;
    text-align: left;
    z-index: 2;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
  .item-image1.featured-article h1 {
    bottom: 20px; }
  .item-image1.featured-article .item-tools {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: left;
    z-index: 2; }


.item-category a {
  color: #000;
  text-decoration: none;
  line-height: 2em;
  position: relative;
  display: inline-block; }

.item-category a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #b2b2b2; }

  .item-content {
  padding: 0px 0; }
  .item-content.article-content p,
  .item-content.article-content blockquote {
    margin: 0 20px 26px;
    font-size: 1.07692em;
    line-height: 2em; }
  .item-content.article-content h1, .item-content.article-content h2, .item-content.article-content h3,
  .item-content.article-content h4, .item-content.article-content h5, .item-content.article-content h6 {
    margin-left: 20px;
    margin-right: 20px;
    color: #ec5d2f; }
  .item-content.article-content img {
    max-width: 100%;
    height: auto; }

.not_image{
   position: relative; }
  .not_image:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(top, transparent 60%, #000 100%);
    background-image: -o-linear-gradient(top, transparent 40%, #000 100%);
    background-image: linear-gradient(to bottom, transparent 60%, #000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
    opacity: 0.7;
    z-index: 1; }
  .not_image h1 {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.38462em;
    line-height: 25px;
    text-align: left;
    z-index: 2;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
  .not_image.featured-article h1 {
    bottom: 20px; }
  .not_image.featured-article .item-tools {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: left;
    z-index: 2; }

}

.nots-heading{
    padding: 0px;
    font-size: 90%;
}

.welcomeland{
    background-color: #378F39 !important;
    color: #F5F7F8;
}

.col{
    padding: 2px;
    width:100%;
}


.welcomeland .logo {
    text-align: center;
}

.button.button-qpositive{
    border-color: transparent;
    background-color: rgba(1,4,1,0.35);
    color: #fff;
}

.button.button-qpositive.button-qoutline{
    border-color: rgb(6,30,3);
    background: transparent;
    color: rgb(219,221,225);
}

.button.button-qpositive.activated{
    background-color: #35c84e;
}

.button.button-qpositive.button-qoutline.activated{
    background-color: #35c84e;
}

/*Sliding Tabs*/
ion-slide {
    background-color: #f0f0f0;
}

ion-slide:nth-child(2n) {
    background-color: #fff;
}


.slidingTabs {
    height: 48px;
    z-index: 10;
}

.slidingTabs .scroll {
    height: auto;
    min-width: 100%;
}

.slidingTabs ul {
    background-color: #61cc00; /*#387ef5;*/
    height: 48px;
}

.slidingTabs ul li {
    height: 48px;
    line-height: 48px;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0 12px 20px 12px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Montserrat Regular";
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.slidingTabs ul li.tab-active {
    color: #fff;
}

.slidingTabs ul li .ink {
    display: block;
    position: absolute;
    background: rgba(56, 147, 245, 0.8);
    border-radius: 100%;
    transform: scale(0);
}

.slidingTabs ul li .ink.animate {
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

.slidingTabs .tab-indicator-wrapper {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-2px);
    position: absolute;
}

.slidingTabs .tab-indicator-wrapper .tab-indicator {
    height: 100%;
    background-color: #fff;
    width: 70px;
    position: relative;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

/*SearchBar*/
/* Empty. Add your own CSS if you like */
.bar .bar-positive {
  background-color: #23ad01 !important;
}

/* Empty. Add your own CSS if you like */
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    border-radius: 25px;
    max-width: 50px;
    max-height: 50px;
    top: 10px;
}

.card .item-avatar > img:first-child {
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    left: 50px;
}

.card .item-avatar {
    padding-left: 110px;
}

.card .item-avatar:first-child > img:first-child {
    max-width: 70px;
    max-height: 70px;
    border-radius: 35px;
    left: 15px;
}

.card .item-avatar:first-child {
    padding-top: 24px;
    padding-left: 110px;
    height: 90px;
}

.empname {
    font-family: "Montserrat Regular";
    font-weight: bold;
}


/* padding left and right is for search and reset icons */
.slinput input {
  padding:10px;
  width:100%;
  border:1px solid #ccc;
  padding-left:31px;
  padding-right:30px;
  color:black;
  font-family: arial,sans-serif;
  font-size: 16px;
}
/* Remove IE10's “clear field” X button */
.slinput input::-ms-clear {
    display: none;
}
.slinput input:focus {
  border:1px solid #4d90fe;
}

/* left side icon style (search icon) */
.slinput .left-icon {
  position:absolute;
  left:10px;
  top:11px;
}
.slinput .fa {
  color:#444;
  font-size: 16px;
}
.slinput .fa-close {
  color:#ccc;
}

.slinput .active {
  color:#555;
}



/* right side icon style (search icon) */
.slinput .right-icon {
  position:absolute;
  right:10px;
  top:11px;
  cursor:pointer;
}
.slinput {
  position:relative;
  width:100%;
}

.button-search{
    background-color: green;
    color: #fff;
    min-height: 44px !important;
}

/*************************************************************************************/
form {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
  
  /* This bit draws the box around it */
  border:1px solid grey;
  padding:2px;
}

input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

.fa {
  padding-top: 8px;
  padding-right: 10px;
}

.fa-search :before{
  padding-top: 5px;
}


.search {         
                border:1.5px solid #dbdbdb;
                width:100px;
                padding: 10px !important; 
}
.searchbutton {
                position:relative;
                padding:6.5px 15px;
                                border:2px solid #309c1b;
                background-color:#309c1b;
                color:#fafafa;

}
.searchbutton:hover  {
                background-color:#fafafa;
                color:#207cca;
}

::-webkit-input-placeholder { /* For WebKit browsers */
    color:    #dd3333;
}

:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}

::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}

:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    #dd3333;
                font-family:Helvetica Neue;
                font-weight:bold;
}

/*bar arrow-main*/

.arrow {
    position:relative;
    background:#207cca;
    padding:;
    margin-left:-5px;
    }
.arrow:after {
    right:100%;
    top:50%;
    border:solid transparent;
    content: " ";
    height:0;
    width:0;
    position: absolute;
    border-color:rbga(32, 124, 202, 0);
    border-right-color:#207cca;
    border-width:10px;
    margin-top:-7px;
  
}

.back-button {
  color: #fff !important;
}

.swiper-pagination{
  display: none !important;
}

.btn-cancel{
  color: #A9A9A9;
}

/*employeedetails*/
.people-subheader>*>* .active-typ {
    border-bottom: 5px solid #0098A1
}
.people-subheader>*>*>* {
    white-space: pre-line;
    line-height: normal;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-left: .5px solid rgba(0, 0, 0, .05);
    border-right: .5px solid rgba(0, 0, 0, .05);
    font-size: smaller
}
.people-name,
.people-tel {
    border: none;
   /* height: 6em;
    white-space: pre-line*/
}

.people-tel2{
  height: 4em;
  white-space: pre-line;
  line-height: .35;
  font-size: larger;
}

.people-tel2 .people-tel-title {
    font-size: small;
    line-height: normal;
    color: #00aa1e;
    padding-bottom: .4em;
    margin-top: -.8em;
}

.people-tel2 a {
    color: #00aa1e;
}

.people-name {
    font-size: 1.4em
}
.people-name .people-name-title {
    font-size: small;
    line-height: normal
}
.people-tel {
    line-height: .35;
    font-size: larger;
    text-decoration: initial !important;
}
.people-tel a {
    color: #00aa1e;
    text-decoration: initial !important;
}
.people-tel .people-tel-title {
    font-size: small;
    line-height: normal;
    color: #00aa1e;
    padding-bottom: .4em;
    margin-top: -.8em;
}

.people-manager{
   white-space: pre-line;
   line-height: .35;
   height: 4em;
   font-size: larger
}

.people-manager .icon,
.people-manager a
{
  color:  #00aa1e;
  text-decoration-line: initial;
}

.people-manager .people-manager-name {
  color: #2F2F2F;
  font-size: medium;
  line-height: .35;
  white-space: pre-line;
  height: 4em;
}

.people-manager .people-manager-title {
    font-size: small;
    line-height: normal;
    color:  #00aa1e;
    padding-bottom: .4em;
    margin-top: -.8em
}
.people-email {
    white-space: pre-line;
    line-height: .35;
    height: 4em;
    font-size: larger
}
.people-email .people-email-adress,
.people-email a {
    color: #2F2F2F;
    -webkit-text-decoration-line: initial;
    text-decoration-line: initial;
}
.people-email .icon,
.people-email a {
    color:  #00aa1e;
    text-decoration-line: underline;
}
.people-email .people-email-title {
    font-size: small;
    line-height: normal;
    color:  #00aa1e;
    padding-bottom: .4em;
    margin-top: -.8em
}
.people-room {
    white-space: pre-line;
    line-height: .35;
    height: 4em;
    font-size: larger
}
.people-room a {
    color: #2F2F2F
}
.people-room .people-room-nr {
    color: #2F2F2F;
    font-size: medium;
    line-height: normal
}
.people-room .people-room-title {
    font-size: small;
    line-height: normal;
    color:  #00aa1e;
    padding-bottom: .4em;
    margin-top: -.8em
}
.people-building {
    white-space: pre-line;
    line-height: .35;
    height: 4em;
    font-size: larger
}
.people-building a {
    color: #2F2F2F
}
.people-building .icon {
    margin-top: .3em
}
.people-building .people-building-title {
    font-size: small;
    line-height: normal;
    color: #0098A1;
    padding-bottom: .4em;
    margin-top: -.8em
}
.people-homepage {
    white-space: pre-line;
    line-height: .35;
    min-height: 4em;
    max-height: 5em;
    font-size: larger
}
.people-homepage .people-homepage-url,
.people-homepage a {
    color: #2F2F2F;
    line-height: normal
}
.people-homepage .icon {
    margin-top: .3em
}
.people-homepage .icon,
.people-homepage a {
    color: #0098A1
}
.people-homepage .people-homepage-title {
    font-size: small;
    line-height: normal;
    color: #0098A1;
    margin-top: -1em
}
.bar-empdetail{
  background-color:#00aa1e;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.clearBtn{
    color:#064115;
    background: #fff;
}

.calcOutput{
      display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: url(../img/green-gradient.svg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
         padding: 10px;
    }

    .temp{
      color: white;
      font-size: 74px;
      font-family: 'Montserrat Regular', sans-serif;
      font-weight: 400;
      text-align: center;
      padding-top:70px;
    }
   
    .bagno {
        font-size: 26px;
        font-family:  "Montserrat Regular", "Roboto", Arial, sans-serif;
        color: #FFF;
        margin-top: 20px;
        line-height: 30px;
        border-top: 7px solid white;
        text-align: center;
    }

    .btnCalculate{
      text-align: center;
      padding-top: 30%;
    }

    .bar .bar-header .speciesheader{
      background-color:#064115;
    }

/*NatureClock*/
.SelectItem {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    background: #fff;
    margin-bottom: 15px;
}

.SelectItem .SList {
    width: 100%;
    background: #e9e9e9;
    clear: both;
}

.SelectItem .SList .Scontainer {
    display: block;
    height: 100px;
}

.SelectItem .SList .Scontainer .item {
    float: left;
    position: relative;
    text-align: center;
    margin: 0;
    background: none;
    border: none;
    flex: 1;
    padding: 0;
}

.SelectItem .SList .Scontainer .item input:checked + .radio-content .item-content {
    background: #fff;
    border: 1px solid #fbb316;
}

.SelectItem .SList .Scontainer .item .item-content {
    padding: 0;
    position: static;
    background: none;
    width: 105px;
    height: 105px;
    border: 1px solid #d3d3d3;
}

.SelectItem .SList .Scontainer .item img {
    max-width: 100%;
    display: inline-block;
}

.SelectItem .SList .Scontainer .item span {
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 0 15px;
    line-height: 110%;
    white-space: normal;
}

.SelectItem .SList .Scontainer .item input:checked + .radio-content .radio-icon {
    visibility: visible;
}
.SelectItem .SList .Scontainer .item .radio-icon {
    color: #fbb316;
    padding: 0 4px;
    font-size: 18px;
}

/**********************/
.middle {
  width: 100%;
  text-align: center;
  /* Made by */
}
.middle h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: #28a06d;
}
.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(70px);
}
.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  width: 200px;
  height: 200px;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.middle .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.middle .front-end span:before {
  content: '\f188';
}
.middle .back-end span:before {
  content: '\f1bb';
}
.middle p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.middle p span:after {
  content: '\f0e7';
  font-family: FontAwesome;
  color: yellow;
}

.spinner{
  fill: #137d18 !important;
}

.nomargin{
  margin-top:0 !important;
}

/*Nature Clock Details Page*/
.transparent-header .bar.bar-header {
    background: rgba(255, 255, 255, 0);
    border-bottom-width: 0;
    box-shadow: none
}
.transparent-header .bar.bar-header h1 {
    color: #000!important
}
.transparent-header .scroll-content {
    overflow: visible!important
}
.transparent-header .has-header,
.transparent-header .platform-ios.platform-cordova:not(.fullscreen) .has-header {
    top: 0
}
.transparent-header .bar .button {
    border-radius: 50%;
    background-color: #00ad50;
    color: #fff;
    width: 35px
}
.transparent-header ion-nav-bar .bar .button.back-button {
    color: #fff
}
.transparent-header .buttons.buttons-right.header-item .right-buttons {
    border-radius: 50%;
    height: 36px;
    background-color: #00ad50
}
.transparent-header .buttons.buttons-right.header-item .right-buttons button {
    background: 0 0;
    color: #fff;
    margin-top: -4px;
    margin-left: 0
}

.recipe-view .recipe-content {
    top: 2vh;
    position: relative;
    background-color: #fff
}

.recipe-view .recipe-content .recipe-title {
    font-size: 36px;
    display: block;
    line-height: 38px;
    padding-bottom: 15px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
     font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;
    text-align: center;
}

.recipe-view .recipe-content .recipe-social {
    width: 100%;
    height: 68px;
    margin-top: 10px;
    padding-left: 4%
}

.recipe-view .recipe-content .recipe-social .recipe-owner {
    float: left;
    width: 56%;
    text-align: center
}

.recipe-view .recipe-content .recipe-social .recipe-owner .owner-image {
        margin-top: 5px;
        float: left;
        border-radius: 50%;
        width: 25px;
        height: 25px
    }
.recipe-view .recipe-content .recipe-social .recipe-owner .owner-name {
    float: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 6px;
     font-family: "Montserrat Regular", "Roboto", Arial, sans-serif;  
}
.recipe-view .recipe-content .recipe-social .recipe-links {
    float: left;
    width: 36%;
    margin-top:-6px;
}
.recipe-view .recipe-content .recipe-social .recipe-links .heart-block {
    width: 35px;
    height: 35px;
    float: right
}
.recipe-view .recipe-content .recipe-social .recipe-links .heart-block .recipe-link-heart {
    float: left;
    font-size: 45px;
    margin-right: 3px;
    color: #df0000
}
.recipe-view .recipe-content .recipe-social .recipe-links .heart-block ion-spinner {
    text-align: center;
    color: #df0000;
    font-size: 40px;
    padding-top: 8px;
    position: absolute;
    padding-left: 5px;
    display: none
}
.recipe-view .recipe-content .recipe-social .recipe-links .heart-block ion-spinner svg {
    stroke: #df0000
}
.recipe-view .recipe-content .recipe-social .recipe-links .heart-block ion-spinner.loading {
    display: block
}
.recipe-view .recipe-content .recipe-social .recipe-links .recipe-link-info {
    float: right;
    margin-right: 15px;
    margin-left: 4px;
    text-align: center;
    display: inline
}
.recipe-view .recipe-content .recipe-social .recipe-links .recipe-link-info .link-count {
    margin-left: 10px;
    margin-top: 8px;
    font-size: 38px
}
.recipe-view .recipe-content .recipe-highlight-info {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    height: 60px;
    margin: 0 auto;
    background-color: #fff
}
.recipe-view .recipe-content .recipe-highlight-info .info-item {
    width: 33%;
    float: left;
    text-align: center;
    color: #666
}
.recipe-view .recipe-content .recipe-highlight-info .info-item .info-title {
    font-size: 28px;
    font-family: "Montserrat SemiBold", "Roboto", Arial, sans-serif;
}
.recipe-view .recipe-content .recipe-highlight-info .info-item .info-title-info {
    margin-left: 6px;
    font-size: 10px
}
.recipe-view .recipe-content .recipe-highlight-info .info-item .info-subtitle {
    padding-top: 6px;
    font-size: 12px;
    margin-top: -7px
}
.recipe-view .recipe-add-menu-box {
    width: 75%;
    margin: 0 auto
}

.recipe-view .item-divider {
    width: 100%;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    height: 55px;
    font-family: "Montserrat Medium";
}

.recipe-view .recipe-info-item {
    float: right;
    font-weight: 400
}

.property-profile-shadow{
    box-shadow: 0px 3px 3px rgba(0,0,0,0.15);
}

.margin-5-0{
  margin: 5px 0px !important;
}

.padding-10{
    padding: 10px !important;
}

.white-background{
    background: #fff;
}

.profile-bottom .col{
    padding: 0px;
    text-align: left;
}

.profile-bottom h6{
    margin: 3px 0px;
    color: #466183;
}

.bold{
    color: #466183;
    font-size: 14px;
    font-weight: bold;
}

.padding-0{
  padding: 0px !important;
}

.padding-10-0{
    padding: 10px 0px !important;
}

.detail-image .date-viewer {
    bottom: 1em;
    left: 1em;
    }

.date-viewer {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .date-viewer .splitter {
    padding: 15px; 
    font-size: xx-large;}
.date-view {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  height: 2.9em;
  overflow: hidden;
  text-align: center;
  width: 6.9em; }
  .date-view.larger {
    font-size: 1.4em; }
  .date-view .month {
    background-color: #ff4e4f;
    color: #fff;
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    width: 100%; }
  .date-view .day {
    line-height: 1.6em; }

  .details-heading {
    text-align: center;
    font-size: large;
    font-family: "Montserrat Light";
  }

div.single-section.photos div.photo-item {
    display: inline-block;
    width: 31.33%;
    width: calc(33.33% - 10px);
    padding: 0;
    box-sizing: border-box;
    height: 100px;
    margin: 2px 5px;
    background-size: cover;
    background-position: center center
}
div.single-section.photos div.full-photo {
    display: block;
    width: 100%;
    height: 325px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 5px 2px
}

.tracker {
position:relative;
top:5%;
left:0;
width:100%;
color:#fff;
text-align:center;
height:74px;
overflow:hidden;
z-index:20;
}
.tracker__inner {
-webkit-transition:0 .2s ease-in-out;
transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}

.tracker__item {
-webkit-transition:opacity .2s ease-in-out;
transition:opacity .2s ease-in-out;
font-size:1.1rem;
padding-bottom:10px;
opacity:.7;
}

.tracker__item_active {
opacity:1;
}
#backdrop {
  height: 110%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(42, 54, 59, 0.58);
  z-index: 11000;
  transition: 0.1s;
}
#backdrop.ng-hide {
  transition: 0.1s;
  opacity: 0;
}
#fab {
  background-color: #31cc19;
  position: fixed;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 14000;
  color: #FFF;
  font-size: 18pt;
  box-sizing: border-box;
  padding: 14px 0 0 0;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.14);
}
#fab:active {
  background-color: #6a9e87;
  transition: 0.02s;
}
#fab-nav {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 12000;
  transition: 0.1s;
}
#fab-nav li {
  background-color: #46a210;
  color: #FFF;
  box-sizing: border-box;
  padding: 12px 14px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 8px 0 0 0;
  letter-spacing: 1.5px;
  font-size: 11pt;
  position: relative;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#fab-nav li.active {
  background-color: #F69A9A;
  transition: 0.03s;
}
#fab-nav li:nth-child(1) {
  transition: 0.06s;
}
#fab-nav li:nth-child(1).ng-hide {
  left: 300px;
}
#fab-nav li:nth-child(2) {
  transition: 0.09s;
}
#fab-nav li:nth-child(2).ng-hide {
  left: 300px;
}
#fab-nav li:nth-child(3) {
  transition: 0.12s;
}
#fab-nav li:nth-child(3).ng-hide {
  left: 300px;
}
#fab-nav li:nth-child(4) {
  transition: 0.15s;
}
#fab-nav li:nth-child(4).ng-hide {
  left: 300px;
}
#fab-nav li:active {
  background-color: #1d2629;
  transition: 0.1s;
}
#fab-nav.ng-hide {
  opacity: 0;
  right: -110%;
}

.game {
  display: block;
  border-bottom: 1px solid #EFEFED;
  overflow: hidden; }

.game:last-child {
  border-bottom: 0px; }

.game .content {
  float: left;
  padding: 10px 0px 0px 0px;
  width: 65%; }

.game .content h3, .game h3 {
  color: #21394C;
  font-size: 15px;
  padding: 2px 0 6px 0; }

.game .content h3 a {
  color: #21394C; }

.game .date {
  border-left: 3px solid #EFEFED;
  float: right;
  text-align: center;
  padding-left: 8px; }

.game .date .month {
  font-size: 12px;
  color: #21394C;
  text-transform: uppercase;
  padding: 0 0 3px 0; }

.game .date .number {
  font-size: 26px;
  color: #0e902a }

/* Crane Disclaimer*/
@media (max-width:679px) {
  .active .modal-backdrop-bg {
    opacity: .5
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    background-color: #000;
    opacity: 0
  }
}

.card {
  margin: 20px 8px
}

.padtop20 {
  padding-top: 20px!important
}
.padbot0 {
  padding-bottom: 0!important
}

.pad10 {
  padding: 10px!important
}

.padtop0 {
  padding-top: 0!important
}

.codeFont,
.fs25 {
  font-size: 25px!important
}

.col.choice.letter {
  padding: 15px 10px
}

.col.choice:active {
  background-color: #FFEB3B !important;
}

.lightblackCol {
  color: #444
}

.center {
  text-align: center!important
}

.transparent {
  background-color: rgba(0, 0, 0, .03)!important;
  border: none!important
}

.modal.modSetSearch {
  top: 50%;
  margin-top: -285px
}
.modal .card {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.disc_header{
  background-color: rgba(255, 172, 49, 0.91);
  color:white;
  height:55px;
  font-family: "Montserrat Bold";
}


.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.insects_image{
  width: 100%;
  height:600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center,center;
  text-align: center;
}

/*TIMEOFF*/

.scope-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 103, 103, 0.63);
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.1s opacity linear;
  transition: 0.1s opacity linear; }
  .scope-backdrop.visible {
    visibility: visible; }
  .scope-backdrop.active {
    opacity: 1; }

.grey-lighter-bg {
  background: #eeeeef; }

.headline{
  background-image: linear-gradient(180deg, #1ca159, #27c235);
  border-radius: 0 !important;
  color:#fff;
  font-family:"Montserrat Regular";
  text-align: center;
  font-size: 20px;
}

.list.list-inset {
  border-radius: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 20px; }
  .list.list-inset .my-item-divider, .list.list-inset .my-item-divider-top-half {
    border-color: #bababc #eeeeef #E1E1E2 #eeeeef; }
  .list.list-inset .list {
    margin-bottom: 0px; }
  .list.list-inset .item:first-child, .list.list-inset .item:last-child {
    border-radius: 0; }
    .list.list-inset .item:first-child .item-content, .list.list-inset .item:last-child .item-content {
      border-radius: 0; }


.activity-title {
  font-size: 6.545vw;
  line-height: 7.854vw; }


.strong {
  font-weight: bold; }

.leave-color0 {
        background-color: lightblue;
    }

.leave-color1 {
        background-color: lightyellow;
    }

.leave-color2 {
        background-color: lightgray;
    }
my-progress-bar .progress {
  padding: 0 0 5px 0;
  height: 5px; }
  my-progress-bar .progress.with-steps {
    padding-top: 20px; }
  my-progress-bar .progress progress[value] {
    height: 5px;
    margin: 0 auto;
    -webkit-appearance: none;
    appearance: none; }
    my-progress-bar .progress progress[value]::-webkit-progress-bar {
      background: #e6e6e6; }
  my-progress-bar .progress .progress-text {
    position: relative;
    bottom: 30px;
    margin-left: -10px;
    font-size: 11px;
    white-space: nowrap; }
  my-progress-bar .progress .progress-end-cap {
    position: relative;
    width: 5px;
    height: 5px;
    top: -5px;
    left: -5px; }

my-progress-bar.progress-bar-career .progress progress, my-progress-bar.progress-bar-career .progress progress::-webkit-progress-value {
  background: #fcad5f; }

.my-item-divider, .my-item-divider-top-half {
  overflow: hidden;
  margin: 0 -1px;
  min-height: 7px;
  padding: 0;
  background: transparent;
  border-style: solid;
  border-color: #bababc transparent #E1E1E2 transparent; }
  .my-item-divider.my-item-divider-primary, .my-item-divider-top-half.my-item-divider-primary {
    border-left-color: #8cb7c7 !important;
    border-right-color: #8cb7c7 !important; }
  .my-item-divider.my-item-divider-secondary, .my-item-divider-top-half.my-item-divider-secondary {
    border-left-color: #222 !important;
    border-right-color: #222 !important; }
  .my-item-divider.my-item-divider-tertiary, .my-item-divider-top-half.my-item-divider-tertiary {
    border-left-color: #3b3b41 !important;
    border-right-color: #3b3b41 !important; }
  .my-item-divider.my-item-divider-fourth, .my-item-divider-top-half.my-item-divider-fourth {
    border-left-color: #fff !important;
    border-right-color: #fff !important; }
  .my-item-divider.my-item-divider-career, .my-item-divider-top-half.my-item-divider-career {
    border-left-color: #f07905 !important;
    border-right-color: #f07905 !important; }
  .my-item-divider.my-item-divider-program, .my-item-divider-top-half.my-item-divider-program {
    border-left-color: #14ae2d !important;
    border-right-color: #14ae2d !important; }
  .my-item-divider.my-item-divider-funding, .my-item-divider-top-half.my-item-divider-funding {
    border-left-color: #00a0cd !important;
    border-right-color: #00a0cd !important; }

.my-item-divider {
  border-width: 7px 7px 7px 7px; }
  .my-item-divider.my-item-divider-small {
    transition: .25s linear all .25s;
    min-height: 3px;
    border-width: 3px; }

/* card-info */

.card-info {
  height: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-info-element {
  align-self: center;
  display: inline-block;
  vertical-align: middle;
}

.card-info-element {
  width: 30%;
}

.card-info-description {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #B3BAC1;
  margin-bottom: 10px;
}

.card-info-value {
  color: #576366;
  font-weight: bold;
  font-size: 22px;
  height: 37px;
  vertical-align: bottom;
}

.pto_detail{
  font-family: "Montserrat Light";
}

/*Dashboard 2*/
.wrapper-categories
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}

.wrapper-categories>div.item-dashboard
{
    width: calc(50% - 8px);
    height: auto;
    min-height: 120px;
    background: #fff;
    display: flex;
    font-family: Montserrat Regular;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 5px;
    box-shadow: 0px 10px 3px #d3c8c8;
    margin-top:12px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 567px) {
/* Styles */

  .wrapper-categories>div.item-dashboard
{
    width: calc(50% -8px) !important;
  
}
}

@media only screen 
and (min-device-width : 568px) 
and (max-device-width : 767px) {
   .wrapper-categories>div.item-dashboard
{
    width: calc(33% - 8px) !important;
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
   .wrapper-categories>div.item-dashboard
{
    width: calc(25% - 8px) !important;
}
}
/* Styles */
}
.wrapper-categories>div.item-dashboard:active{
   background-color: #efecec;
}

.center{
  text-align: center;
}

.img-categories{width: 64px;height: 64px;}

.landing-page-bottom-list:active {
  background-color: #efecec;
}

.landing-page-bottom-list-image {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.landing-page-bottom-list-image img {
  width: 80px;
  height: auto;
}

.landing-page-bottom-list-content {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1;
  flex: 1;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding-right: 15px;
}

.landing-page-bottom-list-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.landing-page-bottom-list-bullet {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 10px;
  color: #9d9d9d;
  font-size: 29px;
}

[ripple] {
  overflow: hidden;
}

.rip {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.animate-ripple {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/*Client Lookup*/
.home-component{
    background-size:cover;
    /*margin:auto;*/
    z-index:2;
    position:fixed;
    font-family: "Montserrat Light";
    background-color: #35a56b !important;
    touch-action:manipulation;
     -ms-touch-action:manipulation;
}

.home-component .scroll-content{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    overflow-y:hidden
     touch-action:manipulation;
     -ms-touch-action:manipulation;
}
.home-component ion-grid{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
     touch-action:manipulation;
     -ms-touch-action:manipulation;
}
.home-component ion-row{
    margin:0 0 4px;
    padding:0;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    background:#fff;
    margin-bottom: 10px;
     touch-action:manipulation;
     -ms-touch-action:manipulation;
}

.home-component .smallerScreen .careIcon,.home-component .smallerScreen .connectionsIcon,.home-component .smallerScreen .diagnosisIcon,.home-component .smallerScreen .familyIcon,
.home-component .smallerScreen .client_historyIcon{
    padding:4.1em .3em 3em;
    background-size:3.3em 3.3em;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
     touch-action:manipulation;
     -ms-touch-action:manipulation;
}

.home-component .sectionDisclosure{
    background:url(../assets/img/large-right-arrow.png) center no-repeat;
    text-align:center
}
.home-component .diagnosisIcon{
    background:url(../img/Client_Lookup/search.png)
}
.home-component .careIcon{
    background:url(../img/Client_Lookup/nearme.png)
}
.home-component .familyIcon{
    background:url(../img/Client_Lookup/my_customers.png)
}
.home-component .connectionsIcon{
    background:url(../assets/img/connections.png)
}

.home-component .client_historyIcon{
    background:url(../img/Client_Lookup/client-history.png);
}

.w20_flex{
    -webkit-flex:0 0 20%;
    -ms-flex:0 0 20%;
    flex:0 0 20%;
    max-width:20%
}

.w10_flex{
  -webkit-flex:0 0 10%;
    -ms-flex:0 0 10%;
    flex:0 0 10%;
    max-width:10%
}

.grid{
  margin-left: auto;
    margin-right: auto;
    width:100%;
}

.row,ion-grid{
    display:-webkit-flex
}
ion-grid{
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
     touch-action:manipulation;
     -ms-touch-action:manipulation;
}

[tappable] {
    cursor: pointer;
}

[tappable], [tappable] div, [tappable] ion-icon, [tappable] ion-label, [tappable] span, a, a div, a ion-icon, a ion-label, a span, button, button div, button ion-icon, button ion-label, button span, input, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.home-component .smallerScreen h1 {
    margin: 0 0 .1em;
    color: #006a6c; /*#1266AD*/;
    font-weight: 600;
    font-size: 1.9em;
}

.home-component .smallerScreen h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 100;
}

.search_container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  

}

.justify-content-center{
      justify-content: center!important;
}

.p-3 {
    padding: 1rem!important;
}

.myCard{
  margin: 10px 8px;
}

.card-body{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.text-muted{
  color: #868e96!important;
}

.horizontal-line {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;*/
    border: 0;
    border-top: 1px solid rgba(0,0,0,.39);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    width: 100%;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    width: 100%;
}

.myLabel{
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 500;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-size: 1.1rem;
}

.search-component .input-group {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
}



.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}



.search-component .input-group input {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .5rem 0;
}

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}


.button-float {
  background: #ef473a !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #e42112 !important;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.form-group {
    margin-bottom: 0.5rem;
}

.form-group>label {
    font-weight: 500;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.01rem;
     display: inline-block;
    /*margin-bottom: .5rem;*/
}




.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: rgba(211, 211, 211, 0.14);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    touch-action: manipulation;
    overflow: visible;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #52de5f;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(69, 204, 151, 0.25);
     text-decoration: none!important;
}

.form-control::placeholder{
  text-align: right;
}


.search-component .small {
    height: 23px;
    width: 23px;
}



.button-section{
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack:space-between;
    justify-content: space-between;
   /* margin-top: 1.3rem!important;*/

}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.float-left {
    float: left!important;
    }

.float-right{
   float: right !important;
}

@media (max-width: 765px)
.button-section .float-left, .button-section .float-right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40%;

}

@media (max-width: 765px)
 .button-section button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
 }

/* Client Search Results */
.C-bkg{
  background-color:#30e93c;
}

.P-bkg{
  background-color: #8fcac6;
}

.myCustomer-bkg{
  background-color: #8fcac6;

}
.client-category{
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    font-family: "Montserrat Regular";
    text-transform: uppercase;
    font-size: 13px;
    /*letter-spacing: 1px;*/
    color: #fff;
    vertical-align: top;
}

.numberPickerDecimal {
  color: #000;
  padding-top: 45px;
  text-align: center;
  font-weight: bold;
}

.numberPickerArrows {
  width: 100%;
}

.numberPickerBoxText {
  color: #000;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 1.5em;
}

.overflowShow {
  white-space: normal !important;
}

.checkmark {
    display:inline-flex;
    width: 18px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: #a5e659;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}

.client-detail-hero{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding-left:14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  color: #1a1a1a;

}

.mb14{
margin-bottom: 14px!important;

}

.mb8 {
    margin-bottom: 8px!important;
}

.text-gray-dark{
  color: #5a5e64;
}

div .truncate{
  display: block;
}

.text-h4{
  font-size: 17px;
}

.text-h3{
  font-size: 23px;
}

.text-bold{
  font-weight: 600
}

.ml12 {
    margin-left: 12px!important;
}
.client-details-hero .icon-star-outline {
    font-size: 24px;
    position: relative;
    top: 2px;
    margin: -8px;
    padding:8px !important;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.client-details-hero .icon-star-filled{
   color: #e0d416;
   font-size: 24px;
   position: relative;
   top: 2px;
   margin: -8px;
   padding: 8px!important;
}

.client__name{
  font-family: "Montserrat Light";
  font-size: 27px;
 /* padding-bottom: 8px;*/
}
.client__details .client__details__section {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(184,184,184,.5);
    border-radius: 3px;
    margin: 0 5px 5px;
    display: flex;
    align-items: center;

}

.client__details .client__details__section .details__section__header {
    order: 2;
    flex-grow: 3;
    /*padding: 11px 15px 9px;*/
    text-align: center;
    padding-bottom: 10px;

}

.client__details .primary-tag {
    border-right: 2px solid #38B471;
    margin: 0 11px 0 0;
    padding: 0 9px 0 0;
    font-family: "Montserrat Light";
    font-size: 15px;
}

.client__viewport {
    min-height: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

.client__map--container{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}
   
#mapid { height: 180px; }

.takeme{
  background-color:#4caf50;
  padding: 15px 10px 10px;
  text-align: center;
 
}


.takeme a{
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat Regular";
  font-size:25px;
}

.takeme a:hover{
  text-decoration: none;
  color: #fff;
}

.client__contact-info {
  margin: 5px;
  padding: 11px 15px 9px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(184, 184, 184, 0.5);
  text-align: center;
}
.client__contact-info .fa {
  color: #38B471;
}
.client__contact-info .fa-phone {
  font-size: 14px;
}
.client__contact-info > p,
.client__contact-info > a {
  display: block;
  font: 15px 'Montserrat Light', sans-serif;
}
.client__contact-info .client__address,
.client__contact-info .client__phone-number {
  color: #404040;
  margin-bottom: 5px;
  display: block;
}
.client__contact-info .client__website-link {
  text-decoration: none;
  font: 15px 'Montserrat Light';
  color: #0247EE;
}

.list__title {
  background-color: #F3F2F2;
  font: 15px 'Montserrat Light', sans-serif;
  color: #1A1A1A;
  border-top: 1px solid #EBEBEB;
  padding: 13px 15px;
}
.list__title .list_icon {
  margin-right: 8px;
  font-size: 18px;
  color: #38B471;

}

.card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.contract_dtl_fulldate{
      font-size: 4rem!important;
    color: #d71e1e!important;
    line-height: 3.2rem;
    border-right: 1px solid #eee;
    margin: .2rem 0!important;
    font-weight: 400
}

.contract_dtl_month{
      font-size: 1.5rem!important;
    font-weight: 100!important;
    color: #a7a7a7!important;
    display: block;
}

.contract_dtl_date{
      display: block;
    margin: .3rem 0;
}

/*******************************************************************/
.icon-club {
    display: block;
    width: 25px;
    min-height: 25px;
    max-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain
}

.icon-club.fixed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.icon-club.home {
   /* background-image: url(../images/icons/icon-home.png)*/
     background-image: url(../img/basic_info_black.png)
}

.icon-club.home-on {
   /* background-image: url(../images/icons/icon-home-coral.png) */
   background-image: url(../img/basic_info_green.png)
}

.icon-club.game {
    background-image: url(../img/map_info_black.png)
}

.icon-club.game-on {
    background-image: url(../img/map_info_green.png)
}

.icon-club.friends {
    background-image: url(../img/client_history_black.png)
}

.icon-club.friends-on {
    background-image: url(../img/client_history_green.png)
}


/*******************************************************************/
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-color: #7eea00 !important;
  border-width: 3px 0 0 0 !important;
  font-weight: 800;
  color: #85bd44
  }

.tab-item{
  max-width: 100%;
  font-family: "Montserrat Light" !important;
}

.tabs-icon-top > .tabs .tab-item,
.tabs-icon-top.tabs .tab-item,
.tabs-icon-bottom > .tabs .tab-item,
.tabs-icon-bottom.tabs .tab-item {
  font-size: 15px !important;
  line-height: 19px !important; }

.tabs{
  height: 60px !important;
}

.tabs-striped .tabs{
  width: 100%;
  border-bottom: none !important;
}

.list-md {
    margin: -1px 0 16px;
}
.button-effect {
    border-radius: 50%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    z-index: 0;
    display: none;
    background-color: #555;
    opacity: .2;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    pointer-events: none;
    top: 0;
    left: 0;
}
ion-list {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.card {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.card-md {
    margin: 5px;
    border-radius: 12px;
    width: calc(100% - 12px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
ion-card {
    display: block;
    overflow: hidden;
}

.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1);
    transition: background-color .3s cubic-bezier(.4,0,.2,1);
}
.item-block {
    margin: 0;
    padding: 0;
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 4.4rem;
    border: 0;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: inherit;
}

.item {
    contain: content;
}

.card-md .item-md.item-block .item-inner {
    border: 0;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede;
}
.item-md.item-block .item-inner {
    /* padding-right: 8px; */
    padding=top:;
    padding=top: 2;
}
.item-inner {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    min-height: inherit;
    border: 0;
}

.card-header-md+.card-content-md, .card-md .item+.card-content-md {
    padding-top: 0;
}
.card-content-md {
    /* padding: 13px 16px; */
    font-size: 1.4rem;
    line-height: 1.5;
}
ion-card-content {
    /* padding-left: 20px!important; */
    position: relative;
}
ion-card-content {
    /* display: inline-block; */
}

ion-card-content .status {
    display: inline-block;
    /* width: 26px; */
    /* height: 100px; */
    position: relative;
    /* right: 0; */
    /* bottom: 8px; */
}

ion-card-content .status img {
    width: 100%;
}
ion-card img {
    display: block;
    width: 100%;
}
img {
    max-width: 100%;
    border: 0;
}

ion-card-content .ride-detail {
    position: relative;
    margin-bottom: 1rem;
}

ion-card-content .ride-detail p .icon-location {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    bottom: 0;
    margin: auto;
}
.bg-theme {
        background-image: linear-gradient(to top, #20e18b 0%, #13f5ae 100%);
}
ion-card-content .ride-detail p .time {
    width: 70px;
    display: inline-block;
    text-align: center;
}
ion-card-content .ride-detail p .icon-location {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    bottom: 0;
    margin: auto;
}
.bg-yellow {
    background: #ffca28;
}

ion-card-content .ride-detail p .time {
    width: 70px;
    display: inline-block;
    text-align: center;
}

ion-card-content .detail-text {
 
    font-size: 0.9rem;
    color: #bfbfbf;
    text-transform: none;
    font-family: "Montserrat Light";
    margin-bottom: 1px !important;
}
.col {
    padding-left: 0;
    padding-right: 0;
}
[text-left] {
    text-align: left!important; 
}


ion-card-content .full.btn {
    float: right;
    text-transform: capitalize;
    letter-spacing: 0;
    /* font-weight: 800; */
    /* height: 35px; */
    font-size: 1.1rem;
    box-shadow:1px 1px 2px grey;
    padding-left: 1rem; 
    padding-right: 1rem; 
    margin-top:2px;
}
.rounded {
    border-radius: 5px;
}

.input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    text-overflow: ellipsis;
}
.label-md {
    /* margin: 13px 1px 13px 0; */
}
ion-label {
    margin: 0;
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card ion-item .name {
    width: calc(90% - 90px);
    display: inline-block;
}

.card ion-item .name h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color:white;
}
.item-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: 400;
}
.card-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #222;
}

.card ion-item p {
    font-size: 1.1rem;
    color: #777;
    font-weight: 400;
}
.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
}
.card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
}

.card ion-item .more {
    /* width: 90px; */
    display: inline-block;
    height:  100%;
    padding-right: 4px;
}
.card ion-item .more h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.item-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: 400;
}
.card-md h2 {
    margin: 2px 0;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
}
.text-theme {
    color: #0fc874;
}

.card ion-item p {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
}
.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
}
.card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
}

#hp-ctn-howItWorks img {
    vertical-align:middle;
}
#hp-ctn-howItWorks {
    /* padding:0px 0px 0px 0px; */
    text-align: center;
    /* margin:0px; */
    width: 120px;
    height: 20px;
  /*  background: #31c11e;*/
    z-index:15;
    /* border-radius: 5px 5px 0px 0px; */
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    /* -webkit-transform:rotate(90deg); */
    /* transform-origin: center left; */
    /* position: fixed; */
    /* right: 0px; */
    /* float: right; */
      /*     background-image: linear-gradient(to top, #14a967 0%, #3cba92 100%);  */
}
#hp-ctn-howItWorks p {
    color:#fff;
    /* display:inline-block; */
    /* line-height: 10px; */
    font-family: "Montserrat Regular";
    text-transform: uppercase;
    font-size: 0.9rem;
}

.text-white{
  color:#fff;
}

#map{
    height: 100%;
    width: 100vw;
}

 .button-action{
        /* height: 10px; */
        /* width: 150px; */
        text-decoration: none;
        text-align: center;
        color: white;
        background: #2bbd7d;
        font-family: "Montserrat Light"
        line-height: 26px;
        padding: 6px;
        margin-right: 10px;
        text-transform: uppercase;
        box-shadow: 0px 1px 1px 1px #3aea3a;
        display: flex;
         -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
      overflow: hidden;
    cursor: pointer;
    pointer-events: auto;

    }
.leaflet-container .leaflet-control-attribution {
   margin-bottom: 10px !important;
   margin-right: 10px !important;
}


.button-action:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.8s
}

.button-action:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.item:active {
    background-color: lightgray !important;
}

.Incomplete{
      background: #FF9800;
}

.Complete{
  background: #4CAF50;
}

.Complete-text{
  color: #4CAF50;
}
.Cancelled{
      background: #FF5722;
}

.Cancelled-2{
    background: #FFC107;
}
.item-md .radio-md {
    position: static;
    display: block;
    margin: 9px 10px 9px 0;
}

.radio-md {
    position: relative;
    display: inline-block;
}


.segment-completed {
    border:1px solid #4CAF50;; 
    background-color: #fff; 
    color: #6ab2e2;
    padding: 8px 2px;
    font-size:15px;
    font-family: "Montserrat Bold"
}
.segment-completed.active {
    background-color: #4CAF50;; 
    color: #fff;
}
.segment-completed:first-child {
    border-radius: 4px 0 0 4px;
}
.segment-completed:last-child {
    border-radius: 0 4px 4px 0;
}

.segment-cancelled {
    border:1px solid #FF5722; 
    background-color: #fff; 
    color: #6ab2e2;
    padding: 8px 2px;
    font-size:15px;
    font-family: "Montserrat Bold"
}
.segment-cancelled.active {
    background-color: #FF5722; 
    color: #fff;
}
.segment-cancelled:first-child {
    border-radius: 4px 0 0 4px;
}
.segment-cancelled:last-child {
    border-radius: 0 4px 4px 0;
}

.segment-incomplete {
    border:1px solid #FF9800; 
    background-color: #fff; 
    color: #6ab2e2;
    padding: 8px 2px;
      font-size:15px;
    font-family: "Montserrat Bold"
}
.segment-incomplete.active {
    background-color: #FF9800; 
    color: #fff;
}
.segment-incomplete:first-child {
    border-radius: 4px 0 0 4px;
}
.segment-incomplete:last-child {
    border-radius: 0 4px 4px 0;
}

.leaflet-popup-content-wrapper{
  font-family: "Montserrat Regular";
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 568px) 
 {
   .responsive_card
{
  width: 33.33%;
  flex:0 0 33.33%;
}
}


